body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: red;
    
}

account {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: white;

}

anonymous {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: white;
    margin: 0;
}

nav {
    background: #363636;
    width: 200px;
}

section {
    width: auto;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    background: green;
}

header {
    background: #9C9C9C;
    line-height: 40px;
    padding: 0 10px;
}

footer {
    background: #212121;
    line-height: 40px;
    padding: 0 10px;
}

main {
  width: 100%;
  height: calc(100% - 40px - 40px);
  flex: 1 0 auto;
  background: #E8E8E8;
  overflow-y: auto;
}

.content {
    padding: 10px;
}
