body {
    font: 24px Helvetica;
    background-color: #f5f5f5;
          
    main {
        min-height: 800px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
        -webkit-flex-direction: row;
                flex-direction: row;
        .nav {
           width: 200px;
           background-color: #eeeeee;
        }
        
        .article {
            flex: 1;
        }
    }
}


