nav {
    position: relative;
    display: flex;
    flex-direction: row;
    
    width: 230px;
    height: 100%;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    color: $color-nav;
    background: $background-nav-color;
    
    .menu {
        position: relative;
        height: 100%;
        width: 100%;
        
        &:not(.selected-wiht-submenu) {
                width: 100%;
                background: $background-nav-color;
                > li.selected { background: $background-nav-selected-color; }   

                &.submenu {
                    overflow-x: hidden;
                    height: 100%;
                    width: auto;
                    flex: 1 1 0;
                    position: relative;               
                }
        }
        
        &.selected-with-submenu {
            
            background: $background-nav-icon-color;
            width: 56px;
            > li.selected { background: $background-nav-icon-color; }          
        
            &:not(.force-submenu-show):hover {
                transition-duration: 300ms;
                width: 100%;
                background: $background-nav-color;
                > li.selected { background: $background-nav-selected-color; }   
            }
            
            &.force-submenu-show, &:not(:hover) {
                    background: $background-nav-icon-color;
                    width: 56px;
                    transition-duration: 300ms;
                    > li.selected {  background: $background-nav-icon-color; }
            }
            
        }

        > li {
            cursor: pointer; cursor: hand;
            height: 40px;
            width: calc(100%-10px-20px);
            font-weight: 300;
            
            padding: 0 10px 0 20px; 
            
            display: flex;
            flex-direction: column;
            justify-content: center;

            a {
                font-size: 13px;        
                text-decoration: none;
                color: inherit;
                
                display: flex;
                flex-direction: row;
                align-items: center;   
                
                span {
                    color: inherit;
                    margin: 0 0 0 10px;
                    overflow: hidden;       
                }
                
                i {                
                    color: inherit;
                    margin-right: 10px;
                    font-size: 16px;
                }    
            }
                                        
            &.with-submenu {
                > a {
                    position: relative;
                    overflow: hidden;     
                    &:AFTER {
                        content: "\f105";
                        position: absolute;
                        left: calc(100% - 10px);
                        overflow: hidden !important;     
                        top: 0px;
                        font-family: FontAwesome;
                        
                    }
                }
            }
            
            &:HOVER, &.selected { 
                color: $color-nav-selected;
            }
        }

    }    
}    
