header {   
    background: $background-header-color;
    color: $color-header-text;
    line-height: 56px;
    padding: 0 20px 0 20px;
    font-size: 24px;
    
    > h1 {
        line-height: 24px;
        padding: 10px 0 10px 0;
        
        a {
            display: inline-block;
            text-decoration: none;
            color: $color-header-ref;
            
            &:hover {
                text-decoration: underline;
            }
        }        
        
        span {
            text-decoration: none;
            color: $color-header-ref;
        }
        
        i {
            display: inline-block;
            color: $color-header-ref;
            vertical-align: top;
        }  
    }
}
