nav {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: $nav-width;
    width: $nav-width;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: $color-nav;
    background: $background-nav-color;
        
    .menu {
        position: relative;
        width: 100%;
        &:not(.selected-with-submenu) {
            width: 100%;
            background: $background-nav-color;
            > li.selected {
                background: $background-nav-selected-color;
            }
            &.submenu {
                overflow-x: hidden;
                height: 100%;
                width: auto;
                flex: 1 1 0;
                position: relative;
            }
        }
        
        &.selected-with-submenu {
            background: $background-nav-icon-color;
            width: 56px;
            
            > li.selected {
                background: $background-nav-icon-color;
            }
            
            &:not(.force-submenu-show):hover {
                transition-duration: 300ms;
                width: 100%;
                background: $background-nav-color;
                
                > li.selected {
                    background: $background-nav-selected-color;
                }
            }
            
            &.force-submenu-show, &:not(:hover) {
                background: $background-nav-icon-color;                                                     
                width: 56px;
                transition-duration: 300ms;
                > li.selected {
                    background: $background-nav-icon-color;
                }
            }
        }
        
        > h1 {
                font-style: italic;
                font-size: 26px;
                background: $background-nav-icon-color;
                color: $color-nav-selected;
            a {
                text-decoration: none;
                line-height: 56px;
                display: block;
                padding: 0 10px 0 15px;
                color: inherit;
                overflow: hidden;
                white-space: nowrap;
                
                i {
                    display: inline-block;        
                    width: 26px + 15px;
                    color: $shopify-color;
                    font-size: 26px;
                    font-style: italic;
                    line-height: inherit;
                    vertical-align: top;
                }
            }
        }    
        
        > h3 {
                font-size: $shopify-font-size;
                text-transform: uppercase;
                border-bottom: 1px solid  $background-nav-icon-color;
                line-height: 56px;
                padding: 0 10px 0 20px;
        }    
    
        > li {
            
            a {
                font-size: $shopify-font-size;
                text-decoration: none;
                line-height: 40px;
                display: block;        i {
            //color: $color-header-ref;
        }

                padding: 0 10px 0 20px;
                color: inherit;
                overflow: hidden;
                white-space: nowrap;
                
                i {
                    display: inline-block;
                    width: 26px + 15px;
                    color: inherit;
                    font-size: 16px;
                    line-height: inherit;
                    vertical-align: top;
                }
            }
            
            &.with-submenu {
                > a {
                    position: relative;
                    
                    &:AFTER {
                        content: "\f105";
                        position: absolute;
                        left: $nav-width - 20px;
                        top: 0px;
                        font-family: FontAwesome;
                    }
                }
            }
            
            &:HOVER, &.selected { 
                color: $color-nav-selected;
            }
        
            &.account {
                cursor: pointer; cursor: hand;
                //line-height: 40px;
                padding: 0 10px 10px 10px;
                position: absolute;
                bottom: 0px;
                overflow: hidden;
                white-space: nowrap;
                display: flex;
                
                > span {
                    position: relative;
                    padding: 10px 0 0 0;   
                    width: $nav-width - 60px;
                    margin-left: 10px;
                    > span {
                        display: block;
                        &:last-of-type {
                            line-height: 11px;
                            font-size: 11px;    
                        }    
                    }
                    
                    &:AFTER {
                        content: "\f106";
                        position: absolute;  
                         
                        right: 20px;
                        bottom: 10px;
                        font-family: FontAwesome;
                    }
                
                }    
            
            }
        
        } 
        
        popup {
            display: none;
            overflow: hidden;
             
            &.show {
                display: block;
                overflow: hidden;
            }
            
            >   div {
                position: absolute;
                border-radius: 3px;
                left: 33px;
                bottom: 60px;
                display: block;
                background: $background-nav-popup-menu;
                               
                div {
                    width: 143px;    
                    padding: 10px 10px 10px 10px;
                    
                    li {
                        a {
                            
                            line-height: 28px;
                            padding: 0;                                      
                            padding: 5px 5px 20px 5px;
                            text-decoration: none;
                            color: $color-nav-popup-menu;
                            
                            &:hover {
                                text-decoration: underline;
                                cursor: pointer; cursor: hand;
                            }
                        }
                    } 
                    &:last-of-type {
                        border-top: 1px solid $border-popup-menu-color;                        
                    }
                }
            }
            > tringle {
                position: absolute;
                left: 105px;
                bottom: 40px;
                border:none; 
                border: 10px solid transparent; 
                border-top: 10px solid $background-nav-popup-menu;;
                height: 0px; 
                width: 0px;     
            }
        }
    }                   
}
