.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    
    h1 {
        color: rgb(49,55,61);
        margin: 90px 0 0 0;
        font-size: 30px;
    }    

    h2 {
        color: rgb(149,167,183);
        font-size: 18px;
        font-weight: 200 !important;
        margin: 24px 0 10px 0;
    }    
    
    div {
        position: relative;
    }
    
    input+i {
        position: absolute;
        top: 50%;
        left: 30px;
        margin-top: -12px;
        font-size: 22px;
        color: rgb(149,167,183);
    }
    a i{
        position: absolute;
        top: 50%;
        right: 30px;
        margin-top: -12px;
        font-size: 22px;
        color: rgb(149,167,183);
        cursor: pointer; cursor: hand;
    }
       
    
    .login-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 48px 0 0 0;
                
        justify-content: center;
        width: 340px;
        border-style: none;
        line-height: 18px;
        font-size: 18px;
        font-weight: 200;
        
        .dialog-status {
            width: 256px;
            background: #fff1f1 none repeat scroll 0 0;
            border-bottom: 1px solid #ffe4e4;
            border-radius: 8px 8px 0 0;
            color: #950000;
            font-size: 14px;
            padding: 15px 24px 15px 70px;
            margin: 0;
            
            i {
                position: absolute;
                top: 50%;
                left: 30px;
                margin-top: -12px;
                font-size: 22px;
            }
        }
        
        .dialog-status ~ div {
            background-color: #fffbe5 !important;
            
            border: 1px solid #fed600 !important;
            border-radius: 1px !important;
            
            .login-input:focus {
                background: inherit !important;
            }
            .login-input-top {
                border-color: inherit !important;
                border-radius: 0 0 0 0;
            }   
        }
        
        .dialog-input {
            color: rgb(149,167,183);
            line-height: 24px;
            border: none;
            border-top-color: #E5E5E5;
            
            .login-input:focus {
                background: rgb(250,252,252);
            }     
            .login-input-top {
                
                border-radius: 8px 8px 0 0;
            }
        }

        .login-input {
            width: 256px;
            padding: 24px 24px 24px 70px;
            border: none;
            border: 1px solid;
            border-color: #e5e5e5;
            font-size: 18px !important;
            font-weight: 200 !important;
        }

        
        .login-btn {
            margin: 0 0 0;
            width: 350px;
            
            color: rgb(255,255,255);
            background-color: rgb(71,156,207);
            font-size: 16px  !important;
            font-weight: 200 !important;
        
            padding: 24px 24px 24px 24px;
            border-style: solid;
            border-radius: 0 0 8px 8px;
            border-color: transparent;
            cursor: pointer; cursor: hand;
        }

    }    
   
}
 
         
