modal-form {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &.hideInvite {
        display: none;
    }
    &.hideDelete {
        display: none;
    }
    &.hideDeleteSessions {
        display: none;
    } 
}                       

form.input-form {
    position: relative;
    font-weight: 200;
    width: 620px; 
    color: $color-section-annotation-title;       
    background: $background-main-color;
            
    .modal-header {
        border-bottom: 1px solid $border-section-tab-color;
        padding: 20px;  
        line-height: 20px; 
        display: flex;
        justify-content: space-between;   
        flex: 1 1 0;  
                       
        > h2 {
            padding: 8.5px 0;
            vertical-align: middle;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.2em;
        }

        > a {
            font-size: 15px;
            padding: 8.5px 0;
            color: $border-section-tab-color;
            text-transform: none;
            vertical-align: middle;
            &:hover{                   
                cursor: pointer; cursor: hand;
            }
        }
    }
    
    .modal-section {
        transition: box-shadow 0.3s ease-in-out 0s;
        padding: 0 10px 0 10px;
        margin: 20px 0 0 0;
        display: flex;
        
        > .input-box {
            > div {
                text-align: left;
                margin-bottom: 5px;
                cursor: pointer;
                display: block;
                font-size: 13px;
                font-weight: normal;
                > strong {
                    font-weight: bold;
                }
            }
        }    
            
    }
    
    .modal-footer {
        border-top: 1px solid $border-section-tab-color;
        padding: 20px;
        margin-top: 20px;   
        height: 32px;
        flex: 1 1 0;  
        display: flex;
        justify-content: flex-end;
        
    }
}

