profile > div.section-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    border-top: 1px solid $border-section-color;
    padding: 20px 0 20px 20px;
    
     
    &:first-of-type {
        border: none;   
    }
    
    .block-btn {
        flex: 1 1 0;  
        display: flex;
        justify-content: flex-end;
        padding: 0 20px;
        
        a.btn-main {
            box-sizing: border-box;
            
            height: auto;
            line-height: 1;
            margin-left: 10px;
            padding: 8.5px 15px;
            text-align: center;
            text-transform: none;
            vertical-align: middle;
            white-space: nowrap;
            border-radius: 3px;
            border: 1px solid $border-section-color;
    
            background: $color-section-ref;
            color: $background-main-color;
            
            &:hover {
                cursor: pointer; cursor: hand;
                background: $background-main-btn-enabled;
            }               
            &.disabled {
                background: $background-main-btn-disabled;
                color:  $border-section-color;
                &:hover {
                    cursor: default;
                }
            }
        }
    }
    > div.section-annotation {
        padding: 20px 0 20px 30px;
        color: $color-section-annotation;
        flex: 1 1 0;
        text-align: left;
                
        > h3 {
            margin: -4px 0 10px 0;
            color: $color-section-annotation-title;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.35em;   
        }
 
         p {
            margin-bottom: 15px;
                       
            a {
                color: $color-section-ref;
                text-decoration: none;    
                &:hover {
                    text-decoration: underline;
                }
            }

            > .btn {
                box-sizing: border-box;
                display: inline-block;
                height: auto;
                line-height: 1;
                margin: 0;
                padding: 8.5px 15px;
                position: relative;
                text-decoration: none;
                vertical-align: middle;
                white-space: nowrap;
                background-color: $background-main-color;
                color: $color-section-ref;
                border-radius: 3px;
                border: 1px solid $border-section-color;
           
                &:hover {
                    background: $background-main-btn-disabled;
                    cursor: pointer; cursor: hand;
                    text-decoration: none;     
                }                       

            }
        }
    }   
    
    > div.section-content {
        padding: 0 20px;
        width: 1148px;
        
           
        > form {
            padding: 10px 0;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            display: block;
            margin: 0 auto;
            color: $color-section-annotation-title;
            background-color :$background-main-color;
            border-radius: 3px;
            box-shadow:  rgba(0,0,0,0.1) 0px 2px 4px 0px;    
           
            
            > div.section {
                padding: 8px 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: left;

                > .box {
                    flex: 1 1 0;
                    padding: 0 10px;
                    font-size: 13px;
                    font-weight: normal;  
                    display: flex;
                    
                   
                    > .btn {
                        color: $color-section-ref;
                        text-decoration: none;    
                        height: auto;
                        line-height: 1;
                        margin-right: 10px;
                        padding: 8.5px 15px;
                        
                        text-decoration: none;
                        white-space: nowrap;
                        background-color: $background-main-color;
                        border-radius: 3px;
                        border: 1px solid $border-section-color;
                        position: relative;
                        overflow: hidden;
                                          
                        &:hover {
                            background: $background-main-btn-disabled;
                            cursor: pointer; cursor: hand;
                            text-decoration: none;     
                        } 
                        &.disabled {
                            background: $background-main-btn-disabled;
                            color:  $border-section-color;
                            &:hover {
                                cursor: default;
                            }
                        }
                         >  input[type="file"] {
                            position: absolute;
                            top: 0; right: 0;
                            opacity: 0;
                            filter: alpha(opacity=0);
                            cursor: pointer; 
                        }    
                    }
                   
                                       
            
                }
            
            
                > .input-box {
                    flex: 1 1 0;
                    padding: 0 10px;
                    font-size: 13px;
                    font-weight: normal;  
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    
                     > strong {
                        font-weight: bold;
                        margin-bottom: 5px;
                    }                    
                    > p {
                        margin-bottom: 5px;
                    }
                 
                    > label {
                        text-align: left;
                        margin-bottom: 5px;
                        cursor: pointer;
                        font-size: 13px;
                        font-weight: normal;
                        
                    }
                    > input{
                        text-align: left;
                        border: 1px solid $border-section-tab-color;
                        border-radius: 3px;
                        box-sizing: border-box;
                        font-size: 15px;
                        
                        padding: 5px 10px;
                        width: 100%;
                        background: $background-main-color !important;
                        
                        &:focus {
                          border-color: $background-main-btn-enabled;  
                        }
                        &.textarea {
                            height: 100px;
                        }
                    }
                    > input[type="checkbox"] {
                        display: none;
                        
                        
                        & + label > i {
                            border: 1px solid $border-section-tab-color; 
                            border-radius: 3px;  
                            color: $background-main-color;
                            margin-right: 10px;     
                            font-weight: 100;                     
                        }
                        &:checked + label {
                            color: $background-main-btn-enabled;
                            > i {
                                transition: all .2s;
                                font-size: 15px;
                                font-weight: 100; 
                                color: $background-main-btn-enabled;
                                border-color: $background-main-btn-enabled;    
                            }
                            
                        }
                    }
                    > textarea {
                        text-align: left;
                        border: 1px solid $border-section-tab-color;
                        border-radius: 3px;
                        box-sizing: border-box;
                        font-size: 15px;
                        
                        padding: 5px 10px;
                        width: 100%;
                        height: 100px;
                        background: $background-main-color !important;
                        
                        &:focus {
                          border-color: $background-main-btn-enabled;  
                        }
                    }
                    > i {
                        display: block;
                        text-transform: uppercase;                        
                        background: $background-nav-account-button;
                        color: $color-nav-selected;
                        font-size: 16px;
                        vertical-align: middle;
                        text-align: center;
                        width: 40px;
                        line-height: 40px;
                        border-radius: 7px;                                        
                    } 
                    a {
                        color: $color-section-ref;
                        text-decoration: none;    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
        
                }   
            }
        }
    }
}
    
