modal-form {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &.hideInvite {
        display: none;
    }
    &.hideDelete {
        display: none;
    }
    &.hideDeleteSessions {
        display: none;
    }
    &.notransparent{
        background: $shopify-background;
    }
}

form.input-form {
    position: relative;
    font-weight: 200;
    width: 620px; 
    color: $color-section-annotation-title;       
    background: $background-main-color;
    transition: box-shadow 0.3s ease-in-out 0s;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(39, 44, 48, 0.05), 0 2px 7px 1px rgba(39, 44, 48, 0.16);
    &.up {
        transform: translateY(-50%);
    }
    
    &.up10 {
        transform: translateY(-10%);
    }

    &.minus40 {
        width: 580px;
    }

    .modal-header {
        border-bottom: 1px solid $border-section-tab-color;
        padding: 20px;  
        margin-bottom: 14px;
        line-height: 20px; 
        display: flex;
        justify-content: space-between;   
        flex: 1 1 0;                        
    }
    
    .modal-footer {
        border-top: 1px solid $border-section-tab-color;
        padding: 20px;
        margin-top: 14px;   
        height: 32px;
        flex: 1 1 0;  
        display: flex;
        justify-content: flex-end;
        
    }
}

