modal-form {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    font-weight: 200;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &.hideInvite {
        display: none;
    }
    &.hideDelete {
        display: none;
    }
    &.hideDeleteSessions {
        display: none;
    }                        
    > form {
        position: relative;
        width: 620px; 
        color: $color-section-annotation-title;       
        background: $background-main-color;
                
        .modal-header {
            border-bottom: 1px solid $border-section-tab-color;
            padding: 20px;   
            display: flex;
            justify-content: space-between;   
            flex: 1 1 0;  
                           
            > div {
                padding: 8.5px 0;
                vertical-align: middle;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.2em;
            }

            > a {
                font-size: 18px;
                padding: 8.5px 0;
                color: $border-section-tab-color;
                text-transform: none;
                vertical-align: middle;
                &:hover{                   
                    cursor: pointer; cursor: hand;
                }
            }
        }
        
        .modal-section {
            transition: box-shadow 0.3s ease-in-out 0s;
            padding: 0 10px 0 10px;
            margin: 20px 0 0 0;
            display: flex;
            
            > .input-box {
                flex: 1 1 0;
                padding: 0 10px 0 10px;
                font-size: 13px;
                font-weight: normal;  
                display: block;
                
                
                &.err { 
                    > div {
                        color: $border-input-error;
                    }
                    > input {
                        background: $background-input-error;
                        border-color: $border-input-error;
                        &:focus {
                             background-color: $background-input-error;
                        }  
                    }                
                }
                
                > div {
                    text-align: left;
                    margin-bottom: 5px;
                    cursor: pointer;
                    display: block;
                    font-size: 13px;
                    font-weight: normal;
                    > strong {
                        font-weight: bold;
                    }
                }
                
                > input {
                    text-align: left;
                    border: 1px solid $border-section-tab-color;
                    border-radius: 3px;
                    box-sizing: border-box;
                    font-size: 15px;
                    
                    padding: 5px 10px;
                    width: 100%;
                    background: $background-main-color !important;
                    
                    &:focus {
                      border-color: $background-main-btn-enabled;  
                    }
                } 
            }
            > .error {
                flex: 1 1 0;
                padding: 0 10px 0 10px;
                margin: 0 10px;
                background-color: $background-main-error;
                color: $color-section-annotation-title;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 3px;
                display: flex;
                justify-content: left;   
                position: relative;
                
                > i {
                    text-transform: none;
                    vertical-align: middle;
                    padding: 15px 20px 15px 0;
                    color: $color-error;
                    font-size: 24px;
                }
            
                > div {
                    flex: 1 1 0;
                    padding: 15px 20px 15px 0;
                    
                    > h2 {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 1.2em;   
                    }
                    > ul {
                        margin-top: 10px;
                        list-style-type: disc;
                    }
                }
            }
        }
        
        .modal-footer {
            border-top: 1px solid $border-section-tab-color;
            padding: 20px;
            margin-top: 20px;   
            height: 32px;
            display: block;   
            flex: 1 1 0;  
            display: flex;
            justify-content: flex-end;
            
            > a.btn {
                -moz-user-select: none;
                height: auto;
                line-height: 1;
                margin-left: 10px;
                padding: 8.5px 15px;
                text-align: center;
                text-transform: none;
                vertical-align: middle;
                white-space: nowrap;
                border-radius: 3px;
                border: 1px solid $border-section-color;
                background-color: $background-main-color;
                color: $color-section-ref;
                    
                &:hover{
                    background: $background-main-btn-disabled;
                    cursor: pointer; cursor: hand;
                }
            }

            > a.btn-main {
                box-sizing: border-box;
                
                height: auto;
                line-height: 1;
                margin-left: 10px;
                padding: 8.5px 15px;
                text-align: center;
                text-transform: none;
                vertical-align: middle;
                white-space: nowrap;
                border-radius: 3px;
                border: 1px solid $border-section-color;

                background: $color-section-ref;
                color: $background-main-color;
                
                &:hover {
                    cursor: pointer; cursor: hand;
                    background: $background-main-btn-enabled;
                }               
                &.disabled {
                    background: $background-main-btn-disabled;
                    color:  $border-section-color;
                    &:hover {
                        cursor: default;
                    }
                }
            }
            > a.btn-delete {
                box-sizing: border-box;
                height: auto;
                line-height: 1;
                margin-left: 10px;
                padding: 8.5px 15px;
                text-align: center;
                text-transform: none;
                vertical-align: middle;
                white-space: nowrap;
                border-radius: 3px;
                border: 1px solid $background-main-btn-delete;

                background: $background-main-btn-delete;
                color: $background-main-color;
                
                &:hover {
                    cursor: pointer; cursor: hand;
                }               
            }
        }
    }
}
