.rows {
    //flex: 1 1 0;
    display: flex;
    flex-direction: column;
    //height: 100%;
    width: 100%;
    position: relative;
}

.columns {
    //flex: 1 1 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    //width: 100%;
}

.rows, .columns { 
    &.left, &.top {
        //justify-content: flex-start;
        align-items: flex-start;
    }
    &.right, &.bottom {
        //justify-content: flex-end;
        align-items: flex-end;
    }
    &.center {
        //justify-content: center;
        align-items: center;
    }
}

.row {
    //width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    &.wrap {
        flex-wrap: wrap;
    }
}

.col {
    //height: inherit; //chrome bug
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.row, .col { 
    &.left, &.top {
        justify-content: flex-start;
        //align-items: flex-start;
    }
    &.right, &.bottom {
        justify-content: flex-end;
        //align-items: flex-end;
    }
    &.center {
        justify-content: center;
        //align-items: center;
    }
    &.space-between {
        justify-content: space-between;
    }
}

.box {
    //width: 100%;
    //height: inherit; //chrome bug
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}


.b {
    border: 1px solid $input-error-border;
}

.rotate-45 {
    transform: rotate(-45deg);
}

.rotate45 {
    transform: rotate(45deg);
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}


@for $i from 1 to 25 {
    .w#{$i} {
        width: calc(99.99% / 24 * #{$i});
    }
    .vw#{$i} {
        width: calc(99.99vw / 24 * #{$i});
    }
    .vh#{$i} {
        height: calc(99.99vh / 24 * #{$i});
    }
    .h#{$i} {
        height: calc(99.99% / 24 * #{$i});
    }
    .min-w#{$i} {
        min-width: calc(99.99% / 24 * #{$i});
    }
    .min-vw#{$i} {
        min-width: calc(99.99vw / 24 * #{$i});
    }
    .min-vh#{$i} {
        min-height: calc(99.99vh / 24 * #{$i});
    }
    .min-h#{$i} {
        min-height: calc(99.99% / 24 * #{$i});
    }
}

.w-auto {
    width: auto;
}

.h-auto {
    height: auto;
}


@for $i from 1 to 9 {
    .flex-#{$i} {
        flex: #{$i} !important;
    }
}

@for $i from 5 to 100 {
    .font#{$i} {
        font-size: #{$i}px !important;
    }
}

//http://sass-scss.ru/documentation/sassscript/mapi.html
$directions: (
  '': '',
  t: -top,
  r: -right,
  b: -bottom,
  l: -left
);

$classes: (
  p: padding,
  m: margin
);

//http://sass-scss.ru/documentation/direktivi_kontrolya_i_virazheniya/
@each $name0, $class in $classes { 
  .#{$name0}{
      @each $name, $direct in $directions { 
        @for $i from 0 to 31 {
          &#{$name}#{$i} {
            #{$class}#{$direct}: #{$i}px !important;
          }
       }
    }
  }
}

@for $i from 0 to 31 {
    .pv#{$i} {
        padding-top: #{$i}px !important;
        padding-bottom: #{$i}px !important;
    }
    .ph#{$i} {
        padding-left: #{$i}px !important;
        padding-right: #{$i}px !important;
    }
    .mv#{$i} {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
    }
    .mh#{$i} {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
    }
}


.m{
    @each $name, $direct in $directions { 
      &#{$name}-auto {
        margin#{$direct}: auto !important;
      }
  }
}

.mv-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mh-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.relative {
    position: relative;
}

.hidden {
    visibility: hidden; 
}
.visible {
    visibility: visible;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

p {
    margin-bottom: 15px;
}
p.p10 {
    margin-bottom: 10px;
}

p.p5 {
    margin-bottom: 5px;
}

strong, .bold {
    font-weight: bold;
}

h0{
    font-size: 36px;
    font-weight: 400;
    line-height: 1.8em;
    margin-top: auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2em;
    margin-top: auto;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
    margin-top: auto;
}

h3 {
     font-size: 15px;
     font-weight: 400;
     line-height: 1.2em;
     margin-top: auto;
}

.user-select-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}