//text, icon color
$colors: (
    deafault: #1a1a1a,
    subdued: #707070,
    sky-darker: #c3cfd8,
    avatar: #4b9acc,
);

@each $name, $color in $colors { 
    .color-#{$name}{
        color: #{$color};
    }
}

//avatar
$background-avatar-empty: #ff5d5d;
$color-avatar-empty: #ffffff;
.avatar {
    display: block;
    text-transform: uppercase;                        
    background: $background-avatar-empty;
    color: $color-avatar-empty;
    font-size: 16px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-radius: 7px;
    overflow: hidden;
    z-index: inherit;
    position: relative;
        
    > img {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
} 


//buttons
$btn-blue-background: #479ccf;
$btn-blue-hover-background: #4293c2;
$btn-blue-color: #ffffff;

$btn-red-color: #ffffff;
$btn-red-background:  #ff5d5d;
$btn-red-hover-background:  #d83e3e;

$btn-color: #479ccf;
$btn-background: #ffffff;
$btn-border: #d3dbe2;
$btn-disabled-background: #fafbfc;
$btn-disabled-color: #d3dbe2;


.btn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    line-height: 1;
    font-size: $shopify-btn-font-size;
    padding: 8.5px 15px;
    
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
          
    color: $btn-color;
    background: $btn-background;
    border-radius: 3px;
    border: 1px solid $btn-border;
    
    &:hover {
        cursor: pointer; cursor: hand;
        background: $btn-disabled-background;
    }               
    
    &.disabled {
        background: $btn-disabled-background;
        color:  $btn-disabled-color;
        border-color: $btn-border;
        pointer-events: none;
        &:hover {
            cursor: default;
        }
    }

    &.btn-blue {
        background: $btn-blue-background;
        border-color: $btn-blue-background;
        color: $btn-blue-color;
        &:hover {
            background: $btn-blue-hover-background;
            border-color: $btn-blue-hover-background;
        }
        
        &.disabled {
            background: $btn-disabled-background;
            border-color: $btn-border;
            color:  $btn-disabled-color;
            pointer-events: none;
            &:hover {
                cursor: default;
            }
        }               
    }
    
    &.btn-red {
        background: $btn-red-background;
        border-color: $btn-red-background;
        color: $btn-red-color;
        
        &:hover {
            background: $btn-red-hover-background;
            border-color: $btn-red-hover-background;
        }
     
    }
    
    &.trash {
        padding: 6px 7px;
        line-height: 14px;
        font-size: 14px;
        width: auto;
        
        &.hide {
            display: none;
        }
    }
    
    >  input[type="file"] {
        position: absolute;
        top: 0; right: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer; 
    }

}

$btn-cross-color: #ebeef0;

.cross {
    font-size: 15px;
    padding: 8.5px 0;
    color: $btn-cross-color;
    text-transform: none;
    vertical-align: middle;
    &:hover{                   
        cursor: pointer; cursor: hand;
    }
}

//ref
$color-ref: #0078bd;//#479ccf;

.ref {
    color: $color-ref;
    text-decoration: none;    
    &:hover {
        text-decoration: underline;
        cursor: pointer; cursor: hand;
    }
}



//input

$input-border: #ebeef0;
$input-background: #ffffff;
$input-focus-border: #4293c2;
$input-color: #31373d;
$input-error-color: #ff5d5d;
$input-error-border: #ff5d5d;
$input-error-background: #fef6f5;


.input-section {
    padding: 8px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.input-box {
    flex: 1 1 0;
    padding: 0 10px 0 10px;
    font-size: $shopify-font-size;
    font-weight: normal;  
    display: flex;
    flex-direction: column;
    
    &.row {
        flex-direction: row;
        
        &.end {
            justify-content: flex-end;    
        }
    }
}

.input {
    flex: 1 1 0;
    text-align: left;
    cursor: pointer;
    display: block;
    font-size: $shopify-font-size;
    font-weight: normal;
    background: $input-background;
    color: $input-color; 
    position: relative;
    
    &.err { 
        color: $input-error-border;
        > input {
            background: $input-error-background;
            border-color: $input-error-border;
     
            &:focus {
                border-color: $input-error-border;
            }
        }
    }
    > strong {
        font-weight: bold;
    }

    > input, > textarea, > select {
        position: relative;
        background: inherit;
        margin-top: 5px;
        border: 1px solid $input-border;
        border-radius: 3px;
        box-sizing: border-box;
        line-height: 24px;
        font-size: $shopify-input-font-size;
        padding: 5px 10px;
        width: 100%;
        resize: none;
        
        box-shadow: none;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
            
        &:focus {
            border-color: $input-focus-border;
            outline: none;
            background: transparent;
        }  
        
        &[type="checkbox"] {
            display: none;
            & + label {
                font-weight: 100;
                cursor: pointer; cursor: hand;
                > i {
                    border: 1px solid $input-border; 
                    border-radius: 3px;  
                    color: $input-background; 
                    margin-right: 10px;     
                    
                }
            }
            &:checked + label {
                cursor: pointer; cursor: hand;
                color: $color-ref;
                > i {
                    transition: all .2s;
                    color: $color-ref;
                    border-color: $color-ref;   
                }
            }
        }
        
    }
    &.select::AFTER {
        content: "\f107";
        position: absolute;
        right: 20px;
        top: 30px;
        font-family: FontAwesome;
        font-size: 1.5em;
        color: #1a1a1a;
        pointer-events:none;
        
        > option:checked {
                background: $background-main-color;
        } 
    }
}


$error-list-background: #ff9797;
$error-list-color: #31373d;
$error-list-border: rgba(0, 0, 0, 0.1);
$error-list-icon-color: #d83e3e;

.error-list {
     flex: 1 1 0;
     width: 100%;
     padding: 0 10px;
     box-sizing: border-box;
     background-color: $error-list-background;
     color: $error-list-color;
     border: 1px solid $error-list-border;
     border-radius: 3px;
     display: block;
     justify-content: left;
     position: relative;
     
     > i {
         text-transform: none;
         vertical-align: top;
         padding: 15px 10px 15px 10px;
         color: $error-list-icon-color;
         font-size: 24px;
         display: inline-block;
     }
    > div {
        padding: 15px 20px 15px 0;
        display: inline-block;
        
        >  h2 {
            display: block;
            font-weight: bold;
        }
        > ul {
            flex: 1 1 0;
             display: block;
             margin-top: 10px;
        > li {
                margin-left: 15px;
                list-style-type: disc;
            }
        }
    }
}

$note-color: #888888;
.note {
    color: $note-color;
    font-size: $shopify-note-font-size;
}

.separator {
    border-top: 1px solid $border-section-color;
    width: 100%;
    height: 1px;
    padding: 0 20px;
}

.sep {
    width: 100%;
    border-top: 1px solid $border-section-color;
    height: 1px;
}




// customers

$tabs-background: #f5f6f7;
$tabs-background-hover: #fafbfc;
$tabs-background-active: #ffffff;
$tabs-border: #ebeef0;

$tab-color: #707070;
$tab-color-hover: #0078bd;

$list-background-hover: #eff9fd;
$list-color-hover: #0078bd;

.list { 
    .th:hover {
        background: $list-background-hover;
        color: $list-color-hover;
        cursor: pointer; cursor: hand;
    }
    & + .tr {
        border-top: 1px solid $tabs-border;
        &:hover {
            background: $list-background-hover;
            border-top: 1px solid $tabs-border;
        }
    }
}

.tabs {
    background: $tabs-background;
    border-radius: 3px 3px 0 0;
    & > li {
        border-bottom: 1px solid $tabs-border;
        border-right: 1px solid $tabs-border;
        color: $tab-color;
        padding: 15px 20px;
        text-align: center;
        
        &:first-child {
            border-top-left-radius: 3px;
        }
        &:hover {
            background: $tabs-background-hover;
            color: $tab-color-hover;
            cursor: pointer; cursor: hand;
        }
        &.active {
            background: $tabs-background-active;
            border-bottom-color: $tabs-background-active;
            color: inherit;
            cursor: default;
        }
    }
}


popover {
    cursor: default;
    z-index: 10;
    position: absolute;
    top: 35px;
    width: 100%;
    &.show {
        transform-origin: center top;
        transform: scale(1);
        visibility: visible;
        opacity:0.99;

        transition: transform 0.2s linear, opacity 0.3s linear, visibility 0s step-start;
        -webkit-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0s step-start;
        -moz-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0s step-start;
        -o-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0s step-start;
    }
    &.hide {
        transform-origin: center top;
        transform: scale(0.8);
        visibility: hidden;
        opacity: 0;

        transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.5s step-end;
        -webkit-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.5s step-end;
        -moz-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.5s step-end;
        -o-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.5s step-end;
    }
}

.cone {
    z-index: 11;
    transform: rotate(45deg);
    position: absolute;
    left: calc(50% - 6px);
    top: -7px;
    height: 12px;
    width: 12px;
    background: inherit;
    box-shadow: inherit;
    
    
}
.cone-bottom {
    z-index: 12;
    position: absolute;
    left: calc(50% - 20px);
    height: 20px;
    width: 50px;
    background: inherit;
}
