//text, icon color
$colors: (
    default: #1a1a1a,
    subdued: #707070,
    sky-darker: #c3cfd8,
    avatar: #4b9acc,
    tags: #798c9c,
    green: #29bc94,
    purple: #763eaf,
    orange: #ff9517,
    blue: #0078bd,
);


@each $name, $color in $colors { 
    .color-#{$name}{
        color: #{$color} !important;
    }
    .color_#{$name}{
        color: #{$color} !important;
    }
}

//background
$backgrounds: (
    default: #EBEEF0,
    form: #FFFFFF,
    white: #FFFFFF,
    grey: #F5F6F7,
);

@each $name, $color in $backgrounds { 
    .backgraund-#{$name}{
        background-color: #{$color} !important;
    }
}


//avatar
$background-avatar-empty: #ff5d5d;
$color-avatar-empty: #ffffff;
.avatar {
    display: block;
    text-transform: uppercase;
    background: $background-avatar-empty;
    color: $color-avatar-empty;
    font-size: 16px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-radius: 7px;
    overflow: hidden;
    z-index: inherit;
    position: relative;
        
    > img {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
} 


//buttons
$btn-blue-background: #0069A6;
$btn-blue-hover-background: #4293c2;
$btn-blue-color: #ffffff;

$btn-red-hover-color: #ffffff;
$btn-red-hover-background:  #ff5d5d;

$btn-delete-color: #ffffff;
$btn-delete-background:  #ff5d5d;
$btn-delete-hover-background:  #d83e3e;
$btn-delete-border: #ff5d5d;
$btn-delete-hover-border: #d83e3e;

$btn-color: #0078bd;
$btn-background: #ffffff;
$btn-border: #d3dbe2;
$btn-disabled-background: #fafbfc;
$btn-disabled-color: #d3dbe2;


.btn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    line-height: 1.1em;
    font-size: $shopify-btn-font-size;
    padding: 8px 15px;
    
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
          
    color: $btn-color;
    background: $btn-background;
    border-radius: 3px;
    border: 1px solid $btn-border;
    
    &:hover {
        cursor: pointer; cursor: hand;
        background: $btn-disabled-background;
    }
    
    &.disabled {
        background: $btn-disabled-background;
        color:  $btn-disabled-color;
        border-color: $btn-border;
        pointer-events: none;
        &:hover {
            cursor: default;
        }
    }

    &.btn-blue {
        background: $btn-blue-background;
        border-color: $btn-blue-background;
        color: $btn-blue-color;
        &:hover {
            background: $btn-blue-hover-background;
            border-color: $btn-blue-hover-background;
        }
        
        &.disabled {
            background: $btn-disabled-background;
            border-color: $btn-border;
            color:  $btn-disabled-color;
            pointer-events: none;
            &:hover {
                cursor: default;
            }
        }
    }
    
    &.btn-red {
        &:hover {
            color: $btn-red-hover-color;
            background: $btn-red-hover-background;
            border-color: $btn-red-hover-background;
        }
    }

    &.btn-delete {
        background: $btn-delete-background;
        color: $btn-delete-color;
        border-color: $btn-delete-border;
        &:hover {
            background: $btn-delete-hover-background;
            border-color: $btn-delete-hover-border;
        }
    }

    &.trash {
        padding: 6px 7px;
        line-height: 14px;
        font-size: 14px;
        width: auto;
        
        &.hide {
            display: none;
        }
    }
    
    >  input[type="file"] {
        position: absolute;
        top: 0; right: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer; 
    }
    //button one unit
    &.unit {
        border-radius: 0;
        border-left: none;
    }
    &.unit-left {
        border-radius: 3px 0 0 3px;
    }
    &.unit-right {
        border-radius: 0 3px 3px 0;
        border-left: none;
    }
}

$btn-cross-color: #807f7f;

.cross {
    font-size: 15px;
    padding: 8.5px 0;
    color: $btn-cross-color;
    text-transform: none;
    vertical-align: middle;
    &:hover{                   
        cursor: pointer; cursor: hand;
    }
}

//ref
$color-ref: #0078bd;//#479ccf;

.ref {
    color: $color-ref;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        cursor: pointer; cursor: hand;
    }
    > input[type="file"] {
        position: absolute;
        top: 0; right: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer; 
    }
}



//input

$input-border: #dddddd; //#ebeef0;
$input-background: #ffffff;
$input-focus-border: #0078bd;
$input-color: #31373d;
$input-error-color: #ff5d5d;
$input-error-border: #ff5d5d;
$input-error-background: #fef6f5;

.shadow {
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(39, 44, 48, 0.05), 0 2px 7px 1px rgba(39, 44, 48, 0.16);
}


.form {
    background: $background-main-color;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(39, 44, 48, 0.05), 0 2px 7px 1px rgba(39, 44, 48, 0.16);
    //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out 0s;
    position: relative;
    box-sizing: border-box;
    //height: auto;

    &.grey {
        background-color: $background-grey-color;
    }
}


.input-section {
    padding: 8px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.input-box {
    flex: 1 1 0;
    padding: 0 10px 0 10px;
    font-size: $shopify-font-size;
    font-weight: normal;  
    display: flex;
    flex-direction: column;

        &.row {
        flex-direction: row;
        &.end {
            justify-content: flex-end;
        }
    }
}

.input {
    flex: 1 1 0;
    text-align: left;
    cursor: pointer;
    display: block;
    font-size: $shopify-font-size;
    font-weight: normal;
    background: $input-background;
    color: $input-color; 
    position: relative;

    &.err { 
        color: $input-error-border;
        > input {
            background: $input-error-background;
            border-color: $input-error-border;
            &:focus {
                border-color: $input-error-border;
            }
        }
    }
    strong {
        font-weight: bold;
    }

    input, textarea, select {
        position: relative;
        background: inherit;
        margin-top: 5px;
        border: 1px solid $input-border;
        border-radius: 3px;
        box-sizing: border-box;
        line-height: 24px;
        font-size: $shopify-input-font-size;
        padding: 5px 10px;
        width: 100%;
        resize: none;
        
        box-shadow: none;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
         appearance: none;
        
        &:focus {
            border-color: $input-focus-border;
            background: transparent;
        }

        &[type="checkbox"] {
            display: none;
            & + label {
//                 font-weight: 100;
                cursor: pointer; cursor: hand;
                > i {
                    text-align: center;
                    border: 1px solid $input-border;
                    border-radius: 3px;
                    color: $input-background; 
                    background-color: $background-main-color;
                    margin-right: 10px;
                }
            }
            &:checked + label {
                cursor: pointer; cursor: hand;
                color: $color-ref;
                > i {
                    transition: all .2s;
                    color: $color-ref;
                    border-color: $color-ref;
                    background-color: $background-main-color;
                }
            }
        }
    }
    &.select::AFTER {
        content: "\f107";
        position: absolute;
        right: 20px;
        top: 30px;
        font-family: FontAwesome;
        font-size: 1.5em;
        color: #1a1a1a;
        pointer-events:none;
        > option:checked {
            background-color: $background-main-color;
        } 
    }
}


$error-list-background: #ff9797;
$error-list-color: #31373d;
$error-list-border: rgba(0, 0, 0, 0.1);
$error-list-icon-color: #d83e3e;

.error-list {
     flex: 1 1 0;
     width: 100%;
     padding: 0 10px;
     box-sizing: border-box;
     background-color: $error-list-background;
     color: $error-list-color;
     border: 1px solid $error-list-border;
     border-radius: 3px;
     display: block;
     justify-content: left;
     position: relative;
     
     > i {
         text-transform: none;
         vertical-align: top;
         padding: 15px 10px 15px 10px;
         color: $error-list-icon-color;
         font-size: 24px;
         display: inline-block;
     }
    > div {
        padding: 15px 20px 15px 0;
        display: inline-block;
        
        >  h2 {
            display: block;
            font-weight: bold;
        }
        > ul {
            flex: 1 1 0;
             display: block;
             margin-top: 10px;
        > li {
                margin-left: 15px;
                list-style-type: disc;
            }
        }
    }
}

$note-color: #888888;
.note {
    color: $note-color;
    font-size: $shopify-note-font-size;
}

.separator {
    border-top: 1px solid $border-section-color;
    width: 100%;
    height: 1px;
    padding: 0 20px;
}

.sep {
    width: 100%;
    border-top: 1px solid $border-section-color;
    height: 1px;
}




// customers

$tabs-background: #f5f6f7;
$tabs-background-hover: #fafbfc;
$tabs-background-active: #ffffff;
$tabs-border: #ebeef0;

$tab-color: #707070;
$tab-color-hover: #0078bd;

$list-background-hover: #eff9fd;
$list-color-hover: #0078bd;

.list { 
    .th:hover {
        background: $list-background-hover;
        color: $list-color-hover;
        cursor: pointer; cursor: hand;
    }
    & + .tr {
        border-top: 1px solid $tabs-border;
        &:hover {
            background: $list-background-hover;
            border-top: 1px solid $tabs-border;
        }
    }
}

.tabs {
    background: $tabs-background;
    border-radius: 3px 3px 0 0;
    & > li {
        border-bottom: 1px solid $tabs-border;
        border-right: 1px solid $tabs-border;
        color: $tab-color;
        padding: 15px 20px;
        text-align: center;
        
        &:first-child {
            border-top-left-radius: 3px;
        }
        &:hover {
            background: $tabs-background-hover;
            color: $tab-color-hover;
            cursor: pointer; cursor: hand;
        }
        &.active {
            background: $tabs-background-active;
            border-bottom-color: $tabs-background-active;
            color: inherit;
            cursor: default;
        }
    }
}


popover {
    font-family: $shopify-font-family;
    white-space: nowrap;
    cursor: default;
    z-index: 10;
    position: absolute;
    //width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(39, 44, 48, 0.05), 0 2px 7px 1px rgba(39, 44, 48, 0.16);
    & > div {
        position: relative;
        z-index: 11;
        border-radius: 3px;
        background: $background-main-color;
    }
    &.show {
        //transform-origin: center top;
        transform: scale(1);
        visibility: visible;
        opacity:0.99;

        transition: transform 0.2s linear, opacity 0.2s linear, visibility 0s step-start;
        -webkit-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0s step-start;
        -moz-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0s step-start;
        -o-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0s step-start;
    }
    &.hide {
        //transform-origin: center top;
        transform: scale(0.8);
        visibility: hidden;
        opacity: 0;

        transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.3s step-end;
        -webkit-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.3s step-end;
        -moz-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.3s step-end;
        -o-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.3s step-end;
    }
    &::before {
        z-index: 11;
        transform: rotate(45deg);
        position: absolute;
        left: calc(50% - 6px);
        height: 12px;
        width: 12px;
        background: $background-main-color;
        box-shadow: inherit;
        content: "";
    }
    &.down {
        transform-origin: center top;
        top: 35px;
        &::before {
            top: -7px;
        }
    }
    &.up {
        transform-origin: center bottom;
        bottom: 45px;
        &::before {
            bottom: -7px;
        }
    }
    &.left {
        &::before {
            left: 18px;
        }
    }
    &.right {
        &::before {
            left: calc(100% - 28px);
        }
    }
}

.default-popover {
    ul {
        line-height: 24px;
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        overflow-y: auto;
        li {
            padding: 5px 40px 5px 20px;
            &:hover {
                cursor: pointer; cursor: hand;
                background: #0069A6;
                color: #ffffff;
            }
            &.disabled {
                color: #dddddd;
                cursor: default;
                &:hover {
                    cursor: default;
                    background: inherit;
                    color: #dddddd;
                }
            }
        }
        
    }
}


// tags
$tag-color: #005e94;
$tag-background: #cae9f7 none repeat scroll 0 0;

$tag-color-green: #ffffff;
$tag-background-green: #29bc94 none repeat scroll 0 0;
$tag-color-grey: #798c9c;
$tag-background-grey: #ebeef0 none repeat scroll 0 0;
$tag-color-purple: #ffffff;
$tag-background-purple: #763eaf none repeat scroll 0 0;
$tag-color-orange: #ffffff;
$tag-background-orange: #ff9517 none repeat scroll 0 0;


$tag-input-border: #d3dbe2;
$tag-popover-select: #0078BD;


.all-tags {
    display: flex;
    flex-wrap: wrap;
    list-style: outside none none;
    > li {
        display: inline-flex;
        padding: 4px 8px;
        margin: 0 3px 3px 0;
        background: $tag-background;
        color: $tag-color; 
        border-radius: 3px;
        cursor: pointer;
        &.disabled {
            opacity: 0.5;
            cursor: default;
            pointer-events: none;
        }
    }
}


.input-tags {
    padding: 10px 0;
    text-align: left;
    cursor: pointer;
    display: block;
    > ul {
        border: 1px solid $tag-input-border;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 3px 0 0 3px;
        
        font-size: 1.14286rem;
        line-height: 1.71429rem;

        &.focus {
            border-color: $input-focus-border;
        }
        
        > li:last-of-type {
            background: inherit;
            > input {
                border: none;
                font-size: inherit;
                line-height: inherit;
                width: 120px;
            }
        }
    }
}

.apply-tags {
    display: flex;
    flex-wrap: wrap;
    list-style: outside none none;
    cursor: text;
    > li {
        cursor: pointer;
        position: relative;
        margin: 0 3px 3px 0;
        padding: 4px 8px;
        background: $tag-background;
        color: $tag-color; 
        border-radius: 3px;
        cursor: default;
        &.bggreen {
            color: $tag-color-green; 
            background: $tag-background-green;
        }
        &.bgpurple {
            color: $tag-color-purple; 
            background: $tag-background-purple;
        }
        &.bgorange {
            color: $tag-color-orange; 
            background: $tag-background-orange;
        }
        & > a {
            font-size: 0.8rem;
            cursor: pointer;
        }
    }
}

tags {
    position: relative;
    & > div {
        position: relative;
        & > input {
            background: $input-background;
            border: 1px solid $tag-input-border;
            border-radius: 3px;
            box-sizing: border-box;
            padding: 5px 10px;
            width: 100%;
            &:focus {
                border-color: $input-focus-border;
            }
        }
    }
}

 
tags popover > div > ul { 
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;

    & > li > a {
        display: block;
        line-height: 24px;
        &:first-of-type {
            color:$tag-popover-select;
        }
        &.sel {
             cursor: pointer;
             background: $tag-popover-select;
             color: white;
         }
    }
}


$tooltip-error-background: #ec6060;
$tooltip-error-color: #ffffff;

.tooltip-error {
    position: absolute;
    background: $tooltip-error-background;
    color: white;
    font-size: 0.8rem;
    border-radius: 3px;
    //margin-bottom: 9px;
    padding: 2px 9px;
    position: absolute;
    z-index: 50;
    white-space: nowrap;

    &.bottom30 {
        bottom: -30px;
    }
    &.bottom35 {
        bottom: -35px;
    }
    &.bottom40 {
        bottom: -40px;
    }
    &.bottom45 {
        bottom: -45px;
    }
    &::before {
        border: 5px solid transparent;
        border-bottom-color: $tooltip-error-background;
        
        content: "";
        top: -10px;
        left: 15px;
        position: absolute;
    }
    
    &.hide {
        display: none !important;
    }
}

// Product Images

.images {
    display: table;
    flex-wrap: wrap;
    list-style: outside none none;
    list-style: decimal inside none;
    &.hide {
        visibility: hidden;
    }
    > li {
        float: left;
        display : flex;
        align-items : center;
        vertical-align: top;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        position: relative;
        width: 115px;
        height: 115px;
        margin: 10px 10px 0 0;
        &.hidden {
            visibility: hidden;
        }
        &.grabbing {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }
        > div {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(49,55,61,0.75);
            &.hide {
                display: none;
            }
            a {
                border: none;
                color: $color-nav-selected;
                background-color: transparent;
                padding: 8px 3px;
                &:hover {
                    cursor: pointer; cursor: hand;
                    background-color: transparent;
                }
            }
        }
        > span {
            background-color: $background-main-btn-disabled;
            width: 100%;
            height: 100%;
            display : flex;
            align-items : center;
            > img {
                max-height: 100%;
                max-width: 100%;
                margin: auto;
            }
        }
        &:first-of-type {
            width: 240px;
            height: 240px;
        }
   }
}
.dragover {
    position: absolute;
    top: 35px;
    left: 0;
    width: calc(100% - 40px);
    height: calc(100% - 55px);
    padding: 0 20px 20px 20px;
    display: none;
    &.visible {
        display: block;
    }
    > div {
        height: 100%;
        color: $border-section-color;
        display: flex;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        > i {
            font-size: 72px;
            margin-bottom: 20px;
        }
        &.hover {
            color: #0078bd;
            border: dashed 4px #cae9f7;;
        }
    }
}

.preview-image {
    max-height: 660px;
    max-width: 620px;
    padding: 20px;
    overflow-y: auto;
    > img {
        max-width: 100%;
    }
}

.image-133 {
    background-color: $background-main-btn-disabled;
    width: 133px;
    height: 133px;
    display : flex;
    align-items : center;
    margin: -5px 10px;
    > img {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
    }
}

.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    img {
        max-height: 100%;
        width: 100%;
    }
    div {
        display: none;
    }
}


// Product variants

.new-variant-table {
    overflow-x: auto; 
    > table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        display: table;
        border-color: grey;
        overflow-x: auto;
        tr {
            display: table-row;
            vertical-align: inherit;
            &:last-child>td {
                border-bottom: none;
            }
        }
        > thead {
            display: table-header-group;
            vertical-align: middle;
        }
        > tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
        }
        td, th {
            display: table-cell;
            vertical-align: inherit;
            text-align: left;
            border-bottom: 1px solid $border-section-tab-color;
            &:not(:first-child) {
                min-width: 75px;
            }
        }
        th {
            padding: 6px 10px;
        }
    }
}


.edit-variant-table {
    overflow-x: auto; 
    > table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        display: table;
        border-color: grey;
        overflow-x: auto;
        font-size: $shopify-font-size;
        tr {
            display: table-row;
            vertical-align: inherit;
            > li {
                 display: none;
            }
        }
        > thead {
            display: table-header-group;
            vertical-align: middle;
        }
        > tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
            > tr {
                &.selected, &.selected > td > input {
                    background-color: #fffbe9;
                }
                > .hover {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    border-top: 1px solid $border-section-tab-color;
                    > div {
                        margin: 12px;
                    }
                }
                &:hover > td {
                    background: $list-background-hover;
                    cursor: pointer; 
                    > input {
                        border-color: $btn-border;
                        background-color: $input-background;
                        &:focus {
                            border-color: $input-focus-border;
                        }
                    }
                }
            }
        }
        th {
            padding: 8px 8px;
            display: table-cell;
            vertical-align: inherit;
            text-align: left;
            background: transparent;
            overflow: hidden;
            max-width: 150px;
            &.image {
                width: 16px;
            }
            &.select {
                padding: 10px 5px 10px 0;
                > div {
                    padding: 6px;
                    border: 1px solid $border-section-tab-color;
                }
                span {
                    color: $color-ref;
                }
            }
        }
        td {
            padding: 6px 5px;
            display: table-cell;
            vertical-align: inherit;
            text-align: left;
            background: transparent;
            &:last-child {
                padding: 6px 0 6px 10px;
                text-align: end;
                > .btn {
                    padding: 6px 10px;
                    text-align: right;
                }
            }
        }
        td {
            border-top: 1px solid $border-section-tab-color;
            > input {
                width: 80px;
                background: $input-background;
                height: 32px;
                font-size: $shopify-font-size;
                padding: 5px 6px;
                box-sizing: border-box;
                border: 1px solid transparent;
                border-radius: 3px;
                vertical-align: middle;
            }
            &.option {
                > input {
                    width: 150px;
                }
            }
            &.image {
                padding: 4px 6px;
                > div {
                    width: 32px;
                    height: 26px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color:  $border-section-color;
                    background-color: $background-main-btn-disabled;
                    border: 1px solid $border-section-tab-color;
                    font-size: 24px;
                    > img {
                        max-height: 100%;
                        max-width: 100%;
                        margin: auto;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: $background-main-btn-disabled;
                    }
                }
                > span {
                    background-color: $background-main-btn-disabled;
                    width: 32px;
                    height: 26px;
                    display : flex;
                    align-items : center;
                    > img {
                        max-height: 100%;
                        max-width: 100%;
                        margin: auto;
                    }
                }
            }
            &.select {
                min-width: 50px;
                > .input{
                    background-color: inherit;
                }
            }
            &.hide {
                visibility: hidden;
            }
        }
    }
}

.select-bulk {
    padding: 10px 5px 10px 0;
    display: table-cell;
    vertical-align: inherit;
    text-align: left;
    background: transparent;
    position: relative;
    
    label i.fa-minus {
        width: 14px !important;
        color: $color-ref !important;
    }
    > div {
        > div {
            display: inline-block;
            padding: 6px 10px 6px 5px;
            border-radius: 1px;
            border: 1px solid $border-section-tab-color;
            cursor: pointer;
            color: $color-ref;
            &:first-child {
                background-color: $background-main-btn-disabled;
                color: #95a7b7;
            }
            &:hover {
                background-color: $background-main-btn-disabled;
            }
        }
    }
}

.bulk-images {
    display: table;
    flex-wrap: wrap;
    list-style: outside none none;
    list-style: decimal inside none;
    &.hide {
        visibility: hidden;
    }
    > li {
        float: left;
        display : flex;
        align-items : center;
        vertical-align: top;
        cursor: pointer;
        position: relative;
        width: 95px;
        height: 95px;
        margin: 10px 10px 0 0;
        border: 1px solid $border-section-tab-color;
        &:hover {
            border-color: $border-section-tab-color;
        }
        &.select {
            border-color: $btn-color;
            border-radius: 3px;
        }
        > span {
            background-color: $background-main-btn-disabled;
            width: 100%;
            height: 100%;
            display : flex;
            align-items : center;
            > img {
                max-height: 100%;
                max-width: 100%;
                margin: auto;
            }
        }
    }
}
