reach-text-editor {
    width: 100%;//600px;
//     min-height: 280px;
}
.edit-box {
//     box-sizing: border-box;
//     position: relative;
    background: inherit;
    border: 1px solid #dddddd;
    border-radius: 3px;
    line-height: 24px;
    font-size: 16px;
    width: 100%;
    margin: 10px 0;
//     resize: none;
    
//     box-shadow: none;
//     background-image: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//      appearance: none;
    
    &:focus {
        border-color: #4293c2;
        background: transparent;
    }
    .edit-toolbar {
        flex: 1 1 0;
        display: flex;
        border-bottom: 1px solid #dddddd;
        background: #fafbfc;
        font-size: 14px;
        > .hide {
            display: none;
        }
    }

    .edit-textarea {
        flex: 1 1 0;
        width: 100%;
//         min-height: 280px;
        padding: 10px;
        font-size: 14px;
        font-weight: normal;
        display: flex;
        border: none !important;
        &:focus {
            border: none !important;
        }
    }
}

.tool {
//     display: inline-block;
    position: relative;
    padding: 6px 10px;
//     box-sizing: border-box;
//     height: auto;
    font-family: FontAwesome;
    font-weight: 100;
    margin: 4px 0;

//     text-align: center;
//     text-transform: none;
//     vertical-align: middle;
//     white-space: nowrap;

    background: #ffffff;
    color: #31373d;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #dddddd;
    > span {
        vertical-align: top;
    }
    &.left {
        margin-left: 4px;
        border-radius: 3px 0 0 3px;
    }
    &.right {
        border-width: 1px;
        border-radius: 0 3px 3px 0;
    }
    &.left-right {
        margin-right: 4px;
        border-width: 1px;
        border-radius: 3px;
    }

    &:hover, &.select {
        cursor: pointer; cursor: hand;
        background: #fafbfc;
    }
}
.rte-colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 132px;
    line-height: 0;
    padding: 10px;
    .rte-color {
        border: 0;
        height: 16px;
        width: 16px;
        box-sizing: border-box;
        &:hover, &.select {
            cursor: pointer; cursor: hand;
            background: #fafbfc;
            border: 1px solid #333;
        }
    }
}
.rte-colors-title {
    justify-content: center;
    color: #798c9c;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 10px;
    text-overflow: ellipsis;
}
.rte-colors-ref {
    justify-content: center;
    color: #0078bd;
    font-weight: normal;
    margin: 0 0 5px 0;
    text-decoration: none;
    &:hover {
        cursor: pointer; cursor: hand;
    }
    &:focus, &:active {
        border: 1px solid #0078bd;
        background-color: #f5f6f7;
    }
}
.rte-color-container {
    width: 152px;
    overflow: hidden;
}
.rte-color-sections {
    transition: transform 0.2s linear;
    &.bg {
        transform: translateX(-100%);
    }
    &.txt {
        transform: translateX(0);
    }
}

.rte-link-input {
    font-size: 14px;
    height: 30px;
}
.rte-select {
//     flex: 1 1 0;
    text-align: left;
    cursor: pointer;
    display: block;
    font-size: $shopify-font-size;
    font-weight: normal;
    background: $input-background;
    color: $input-color; 
    position: relative;
    width: 140px;
    margin: 0 30px 0 20px;    
    > select {
        position: relative;
        color: #222;
        background-color: #ddd;
        margin-top: 5px;
        position: relative;
        display: block;
        border: 1px solid #ccc;
        border-radius: 1px;
        box-sizing: border-box;
        line-height: 24px;
        font-size: 14px;
        padding: 4px 2px 2px 4px;
        resize: none;

        vertical-align: top;
        height: 30px;
        width: 100%;
        line-height: 16px;
        
        box-shadow: none;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
         appearance: none;
        
        &:focus {
            border-color: $input-focus-border;
        }
    }
    &::AFTER {
        content: "\f0d7";
        position: absolute;
        right: 10px;
        top: 30px;
        font-family: FontAwesome;
        font-size: 1.1em;
        color: #222;
        pointer-events:none;
    }
}

.rte-section {
    
}