.rows {
    //flex: 1 1 0;
    display: flex;
    flex-direction: column;
    //height: 100%;
    width: 100%;
    position: relative;
}

.columns {
    //flex: 1 1 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    //width: 100%;
}

.rows, .columns { 
    &.left, &.top {
        //justify-content: flex-start;
        align-items: flex-start;
    }
    &.right, &.bottom {
        //justify-content: flex-end;
        align-items: flex-end;
    }
    &.center {
        //justify-content: center;
        align-items: center;
    }
}

.row {
    //width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
//    flex-wrap: wrap;
}

.col {
    //height: inherit; //chrome bug
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.row, .col { 
    &.left, &.top {
        justify-content: flex-start;
        //align-items: flex-start;
    }
    &.right, &.bottom {
        justify-content: flex-end;
        //align-items: flex-end;
    }
    &.center {
        justify-content: center;
        //align-items: center;
    }
    &.space-between {
        justify-content: space-between;
    }
}

.box {
    //width: 100%;
    //height: inherit; //chrome bug
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.form {
    background: $background-main-color;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(39, 44, 48, 0.05), 0 2px 7px 1px rgba(39, 44, 48, 0.16);
    //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out 0s;
    position: relative;
    box-sizing: border-box;
    //height: auto;
}

popover {
    cursor: default;
    z-index: 10;
    position: absolute;
    top: 35px;
    width: 100%;
    &.show {
        transform-origin: center top;
        transform: scale(1);
        visibility: visible;
        opacity:0.99;

        transition: transform 0.2s linear, opacity 0.3s linear, visibility 0s step-start;
        -webkit-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0s step-start;
        -moz-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0s step-start;
        -o-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0s step-start;
    }

    &.hide {
        transform-origin: center top;
        transform: scale(0.8);
        visibility: hidden;
        opacity: 0;

        transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.5s step-end;
        -webkit-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.5s step-end;
        -moz-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.5s step-end;
        -o-transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.5s step-end;
    }

}

.cone {
    z-index: 11;
    transform: rotate(45deg);
    position: absolute;
    left: calc(50% - 6px);
    top: -7px;
    height: 12px;
    width: 12px;
    background: inherit;
    box-shadow: inherit;
    
    
}
.cone-bottom {
    z-index: 12;
    position: absolute;
    left: calc(50% - 20px);
    height: 20px;
    width: 50px;
    background: inherit;
}









.b {
    border: 1px solid $input-error-border;
}

.rotate-45 {
    transform: rotate(-45deg);
}

.rotate45 {
    transform: rotate(45deg);
}

@for $i from 1 to 25 {
    .w#{$i} {
        width: calc(99.99% / 24 * #{$i});
    }
    .vw#{$i} {
        width: calc(99.99vw / 24 * #{$i});
    }
    .vh#{$i} {
        height: calc(99.99vh / 24 * #{$i});
    }
    
    .h#{$i} {
        height: calc(99.99% / 24 * #{$i});
    }
}


@for $i from 5 to 81 {
    .font#{$i} {
        font-size: #{$i}px;
    }
}



//http://sass-scss.ru/documentation/sassscript/mapi.html
$directions: (
  '': '',
  t: -top,
  r: -right,
  b: -bottom,
  l: -left
);

$classes: (
  p: padding,
  m: margin
);

//http://sass-scss.ru/documentation/direktivi_kontrolya_i_virazheniya/
@each $name0, $class in $classes { 
  .#{$name0}{
      @each $name, $direct in $directions { 
        @for $i from 1 to 31 {
          &#{$name}#{$i} {
            #{$class}#{$direct}: #{$i}px;
          }
       }
    }
  }
}

.m{
    @each $name, $direct in $directions { 
      &#{$name}-auto {
        margin#{$direct}: auto;
      }
  }
}
