// Base
$shopify-color: #96bf48;
$shopify-background: #ebeef0;
$shopify-font-size: 14px;
$shopify-input-font-size: 16px;
$shopify-btn-font-size: 15px;
$shopify-note-font-size: 13px;

// Nav
$background-nav-color: #31373d;
$background-nav-icon-color: #272c30;
$background-nav-selected-color: #454e57;
$background-nav-account-button: #ff5d5d;
$color-nav: #c3cfd8;
$color-nav-selected: #ffffff;
$background-nav-popup-menu: rgba(255, 255, 255, 0.98);
$color-nav-popup-menu: #479ccf;
$border-popup-menu-color: #ebeef0;

//header

$background-header-color: #ffffff;
$color-header-ref:  #c3cfd8;
$color-header-text:  #212529;

//Sizes
$nav-width: 240px;


//main

$background-main-color: #ffffff;
$background-grey-color:  #F5F6F7;
$background-main-sel-btn-color: #f5f6f7;
$background-main-btn: #f5f6f7;
$background-main-btn-enabled: #4293c2;
$background-main-btn-disabled: #fafbfc;
$background-main-btn-delete:  #ff5d5d;
$background-main-error: #ff9797;

$background-input-error: #fef6f5;
$border-input-error: #ff5d5d;



$border-section-color: #d3dbe2;
$border-section-tab-color: #ebeef0;
$color-section-ref: #479ccf;
$color-section-annotation: #798c9c;
$color-section-annotation-title: #31373d;
$color-error: #d83e3e;

//footer
$background-footer-color: rgba(33,37,41, 0.90);
$footer-color: #ffffff;
