// Colors

// Nav
$background-nav-color: #31373d;
$background-nav-icon-color: #272c30;
$background-nav-selected-color: #454e57;
$background-nav-account-button: #ff5d5d;
$color-nav: #c3cfd8;
$color-nav-selected: #ffffff;
$background-nav-popup-menu: rgba(255, 255, 255, 0.98);
$color-nav-popup-menu: #479ccf;
$border-popup-menu-color: #ebeef0;

//header

$background-header-color: #ffffff;
$color-header-ref:  #c3cfd8;
$color-header-text:  #212529;

//Sizes
$nav-width: 230px;


//main

$background-main-color: #ffffff;
$background-main-sel-btn-color: #f5f6f7;
$border-section-color: #d3dbe2;
$border-section-tab-color: #ebeef0;
$color-section-ref: #479ccf;
$color-section-annotation: #798c9c;
$color-section-annotation-title: #31373d;