<div class="rows pt20 center">
    <div class="row w16 left pl30">
        <div class="rows w16 ml30">
            <div class="form pt20"
                (dragover)="dragOver($event); dragOverImg=true"
                (drop)="addImages($event)"
                [attr.data-dropzone]="true"
                [attr.data-dragzone]="true">
                <div class="row mh20">
                    <strong class="col mr-auto font16">Images</strong>

                    <a *ngIf="object_id" class="col ref mr20" (click)="showAddImageFromUrl=true;imageUrl = '';changeImageUrl=undefined;">Add image from URL</a>

                    <div class="col ref"><span *ngIf="!object_id">Upload image</span><span *ngIf="object_id">Add images</span>
                        <input type="file" multiple accept="image/gif, image/jpeg, image/png" (change)="addImages($event)">
                    </div>
                </div>
                <div class="dragover" [ngClass]="{visible: !images.length || dragOverImg}">
                    <div [ngClass]="{hover: dragOverImg}">
                        <i class="fa fa-picture-o"></i>
                        <div>Drop files to upload</div>
                    </div>
                </div>
                <ul class="images mh20 mb20" id="images" [ngClass]="{hide: dragOverImg}">
                    <li *ngFor="let image of (images.length<12 || showAllImages)?images:images.slice(0,11); let i = index;" type="none"
                        [attr.data-image]="image.id"
                        (mouseover)="currentImg=image.id;"
                        (mouseleave)="currentImg=undefined"
                        (mousedown)="drabImg=true"
                        (mouseup)="drabImg=undefined"
                        [ngClass]="{grabbing : drabImg}"
                        [attr.data-dragzone]="true">
                        <span>
                            <img
                                [attr.src]="image.attachment || image.src"
                                [attr.alt]="image.alt" 
                                [attr.data-type]="image.type"
                                [attr.id]="image.id">
                            </span>
                        <div [ngClass]="{hide : currentImg!=image.id}">
                            <div class="row center" >
                                <a class="btn trash fa fa-eye" aria-hidden="true" title="Preview" (click)="showImage(image.id)"></a>
                                <a class="btn trash fa fa-pencil" aria-hidden="true" title="Edit image" (click)="editImage(image.id)"></a>
                                <a class="btn font9 bold" aria-hidden="true" title="Edit alt text"(click)="editAltText(image.id)">ALT</a>
                                <a class="btn trash fa fa-trash" aria-hidden="true" title="Delete" (click)="onDeleteImage(image)"></a>
                            </div>
                        </div>
                    </li>
                    <li *ngIf="images.length<1" class="hidden" ><span></span></li>
                </ul>
                <div *ngIf="images.length>11 && !showAllImages"class="row center mb20">
                    <a class="ref" (click)="showAllImages=true">Show all images</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-form" *ngIf="showImagePreview && imagePreviewSrc">
    <form class="input-form" novalidate>
        <div class="preview-image">
            <img src="{% verbatim %}{{ imagePreviewSrc }}{% endverbatim %}">
        </div>
        <div class="modal-footer">
            <a class="btn" (click)="showImagePreview=undefined">Done</a>
        </div>
    </form>
</div>

<div class="modal-form" *ngIf="showEditAltText && currentImage">
    <form class="input-form up" novalidate>
        <div class="modal-header">
            <h2>Edit image alt text</h2>
            <a class="cross fa fa-times" aria-hidden="true" (click)="showEditAltText=undefined"></a>
        </div>
        <div class="input-section">
            <div class="image-133">
                <img src="{% verbatim %}{{ currentImage.src }}{% endverbatim %}">
            </div>
             <label class="input input-box">Image alt text
                <input [(ngModel)]="altText" name="alt_text">
                <span class="color-subdued row mt10">
                    Write a brief description of this image to improve search engine optimization (SEO) and accessibility for visually impaired customers.
                </span>
            </label>
        </div>
        <div class="modal-footer">
            <a class="btn mr10" (click)="showEditAltText=undefined">Cancel</a>
            <a class="btn btn-blue" (click)="saveAltText();">Done</a>
        </div>
    </form>
</div>

<div class="modal-form" *ngIf="showAddImageFromUrl">
    <form class="input-form up" novalidate>
        <div class="modal-header">
            <h2>Add image from URL</h2>
            <a class="cross fa fa-times" aria-hidden="true" (click)="showAddImageFromUrl=undefined"></a>
        </div>
        {% include "admin/errorsbox.html" with errors="urlImageErrors" class="row m10 mb20" %}
        <div class="input-section">
            <label class="input input-box">Paste image URL
                <input [(ngModel)]="imageUrl" name="image_url"
                (input)="changeImageUrl=true"
                placeholder="http://">
            </label>
        </div>
        <div class="modal-footer">
            <a class="btn mr10" (click)="showAddImageFromUrl=undefined">Cancel</a>
            <a class="btn btn-blue" [ngClass]="{disabled : !changeImageUrl}" (click)="addImageFromUrl(imageUrl);">Add image</a>
        </div>
    </form>
</div>


<div class="modal-form" *ngIf="showDeleteImage">
    <form class="input-form up" novalidate>
        <div class="modal-header">
            <h2>Delete this image?</h2>
            <a class="cross fa fa-times" aria-hidden="true" (click)="showDeleteImage=undefined"></a>
        </div>
        <div class="input-section">
            <div class="input-box">
                Are you sure you want to delete this image and remove it from all variants? This action cannot be reversed.
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn mr10" (click)="showDeleteImage=undefined">Cancel</a>
            <a class="btn btn-red" (click)="deleteImage();showDeleteImage=undefined">Delete</a>
        </div>
    </form>
</div>