<div *ngIf="!object_id" class="rows pt20 center">
    <div class="row w16 left pl30">
        <div class="rows w16 ml30">
            <div class="form pt20">
                <div class="row mh20">
                    <strong class="col mr-auto font16">Variants</strong>
                    <a *ngIf="!showNewOptionsEdit" class="col ref" (click)="showNewOptionsEdit=true">Add variant</a>
                    <a *ngIf="showNewOptionsEdit" class="col ref" (click)="showNewOptionsEdit=false">Cancel</a>
                </div>
                <div class="row m20">
                    Add variants if this product comes in multiple versions, like different sizes or colors.
                </div>
                <div *ngIf="showNewOptionsEdit" class="backgraund-grey row pt10">
                    <div class="rows">
                        <div class="input-section">
                            <div class="input-box">Option name</div>
                            <div class="input-box flex-3">Option values</div>
                        </div>
                        <div *ngFor="let option of options; let i = index;" class="input-section backgraund-grey">
                            <label class="backgraund-grey input input-box mv-auto mr10">
                                <input class="backgraund-form mt0" [(ngModel)]="option.name">
                            </label>
                            <div class="input-tags flex-3 mv-auto">
                                <ul class="apply-tags backgraund-form"
                                    [ngClass]="{focus: option.focus}"
                                    (click)="DOMElement('#option-'+i).focus()">
                                    <li *ngFor="let value of option.values; let j=index" [ngClass]="{bggreen: i==0, bgpurple: i==1, bgorange: i==2}">
                                        {% verbatim %}{{ value }}{% endverbatim %}
                                        <a class="fa fa-times" aria-hidden="true" (click)="deleteOptionValue(option,j)"></a>
                                    </li>
                                    <li>
                                        <div class="tooltip-error bottom45"
                                            [ngClass]="{hide: !option.tooltipError}">
                                            Oops, you've already used this option value.
                                        </div>
                                        <input class="backgraund-form" [(ngModel)]="option.val" [attr.id]="'option-'+i"
                                        (change)="changeOptionValue(option)"
                                        (keydown)="onKeyUpOptionValue($event, option)"
                                        (focus)="option.focus=true"
                                        (blur)="option.focus=false">
                                    </li>
                                </ul>
                            </div>
                            <a class="btn trash fa fa-trash mv-auto mh10 p9 font16" aria-hidden="true" title="remove"
                                [ngClass]="{hidden: options.length<2}"
                                (click)="deleteOption(i)">
                            </a>
                        </div>
                        <div *ngIf="options.length<3" class="input-section">
                            <a class="btn mh10" (click)="addOption()">Add another option</a>
                        </div>
                        <div *ngIf="variants && variants.length" class="rows">
                            <div class="row mh20 mt20">Modify the variants to be created:</div>
                            <div class="row m20 new-variant-table">
                                <table class="">
                                    <thead>
                                        <tr><th></th><th>Variant</th><th>Price</th><th>SKU</th><th>Barcode</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let variant of variants; let k = index">
                                            <td>
                                                <span class="input-box input backgraund-grey pr0">
                                                    <input type="checkbox" [attr.id]="'var-'+k" [(ngModel)]="variant.select">
                                                    <label [attr.for]="'var-'+k"><i class="fa fa-check backgraund-form" aria-hidden="true"></i></label>
                                                </span>
                                            </td>
                                            <td> 
                                                <span class="input-box">
                                                    <span class="row color-green">{% verbatim %}{{ variant.option1 }}{% endverbatim %}</span>
                                                    <span class="row color-purple">{% verbatim %}{{ variant.option2 }}{% endverbatim %}</span>
                                                    <span class="row color-orange">{% verbatim %}{{ variant.option3 }}{% endverbatim %}</span>
                                                </span>
                                            </td>
                                            <td>
                                                <label class="backgraund-grey input input-box">
                                                    <input class="backgraund-form mt0" [(ngModel)]="variant.price">
                                                </label>
                                            </td>
                                            <td>
                                                <label class="backgraund-grey input input-box">
                                                    <input class="backgraund-form mt0" [(ngModel)]="variant.sku">
                                                </label>
                                            </td>
                                            <td>
                                                <label class="backgraund-grey input input-box">
                                                    <input class="backgraund-form mt0" [(ngModel)]="variant.barcode">
                                                </label>
                                            </td>
                                        </tr>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
