<div *ngIf="object_id" class="rows pt20 center">
    <div class="row w16 left pl30">
        <div class="rows ml30" [ngClass]="{w16: options.length==1,w20: options.length==2,w24: options.length==3}">
            <div class="form p20">
                <div class="row mh20">
                    <strong class="col mr-auto font16">Variants</strong>
                    <a class="col ref mr20" (click)="showReorderVariants=true">Reorder variants</a>
                    <a class="col ref mr20" (click)="showEditOptions=true">Edit options</a>
                    <a class="col ref" >Add variant</a>
                </div>
                <ul *ngIf="options" class="row wrap mv20">
                    <li class="mr15"> Select: </li>
                    <li class="ref color-subdued mr15" (click)="selectVariants(1)">All</li>
                    <li class="ref color-subdued mr15" (click)="selectVariants(0)">None</li>
                    <span class="row wrap" *ngFor="let option of options;let i = index;" >
                        <li *ngFor="let val of option.values" 
                            class="ref mr15" [ngClass]="{'color-green': i==0, 'color-purple': i==1, 'color-orange': i==2}"
                            (click)="filterVariants(i, val)">
                            {% templatetag openvariable %}val{% templatetag closevariable %}
                        </li>
                    </span>
                </ul>
                <div *ngIf="countSelectedVariants()[0]" class="select-bulk">
                    <div>
                        <div class="input">
                            <input type="checkbox" id="select-bulk-variants" [(ngModel)]="selectAllVariants" (click)="selectVariants(0)">
                            <label for="select-bulk-variants">
                                <i class="fa" [ngClass]="{'fa-minus': !selectAllVariants, 'fa-check': selectAllVariants}"></i>
                            </label>
                            {% templatetag openvariable %}countSelectedVariants()[1]{% templatetag closevariable %}
                        </div>
                        <div>
                            <a>Edit variants</a>
                        </div>
                        <div id="base-bulk-actions" (click)="refreshDOM(); onPopover($event, popover_bulk_actions)">
                            <a>Bulk actions</a>
                            <span class="fa fa-caret-down ml3"></span>
                        </div>
                        <popover id="bulk-actions" class="down color-default hide mt18">
                            <div class="default-popover">
                               <ul>
                                    <li>Change prices</li>
                                    <li [ngClass]="{disabled:!updateInventory}">Update inventory</li>
                                    <li (click)="getBulk();onBulkUpdateImage();">Update images</li>
                                    <li (click)="getBulk(); showDeleteVariants=true; hidePopovers();">Delete Variants</li>
                                    <li>Continue sellingwhen sold out</li>
                                    <li>Stop selling when sold out</li>
                                    <li class="disabled">DUPLICATE VARIANS</li>
                                </ul>
                                <div class="row sep mh5"></div>
                                <ul>
                                    <li>... in another Size</li>
                                </ul>
                            </div>
                        </popover>
                    </div>
                </div>
                <div class="rows edit-variant-table">
                    <table class="row min-w24 w-auto">
                        <thead *ngIf="!countSelectedVariants()[0]">
                            <tr>
                                <th class="select">
                                     <div class="input">
                                        <input type="checkbox" id="select-all-variants" [(ngModel)]="selectAllVariants" (click)="selectVariants(1)">
                                        <label for="select-all-variants">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </label>
                                        <span class="fa fa-caret-down" aria-hidden="true"></span>
                                    </div>
                                </th>
                                <th class="image"></th>
                                <th *ngFor="let option of options; let i = index;">
                                    {% templatetag openvariable %}option.name{% templatetag closevariable %}
                                </th>
                                <th *ngIf="inventoryManagement" >Inventory</th><th>Price</th><th>SKU</th>
                            </tr>
                        </thead>
                        <tbody id="variants-table" class="user-select-none">
                            <tr *ngFor="let variant of variants; let k = index"
                                [attr.data-variant]="variant.id"
                                [ngClass]="{selected: variant.select}"
                                (dragover)="dragOver($event, dragOverVariant); currentVariant=variant.id"
                                (drop)="addImages($event, k)"
                                [attr.data-dropzone]="true">
                                <td class="select" [ngClass]="{hide: currentVariant==variant.id}">
                                    <span class="input">
                                        <input type="checkbox" [attr.id]="'var-'+k" [(ngModel)]="variant.select">
                                        <label [attr.for]="'var-'+k"><i class="fa fa-check backgraund-form" aria-hidden="true"></i></label>
                                    </span>
                                </td>
                                <td class="image" [ngClass]="{hide: currentVariant==variant.id}">
                                    <div *ngIf="!variant.image">
                                        <a class="fa fa-picture-o"></a>
                                    </div>
                                    <span *ngIf="variant.image">
                                        <img [attr.src]="variant.image.src">
                                    </span>
                                </td>
                                <td *ngIf="variant.option1" class="option" [ngClass]="{hide: currentVariant==variant.id}">
                                    <input class="color-green" [(ngModel)]="variant.option1">
                                </td>
                                <td *ngIf="variant.option2" class="option" [ngClass]="{hide: currentVariant==variant.id}">
                                    <input class="color-purple" [(ngModel)]="variant.option2">
                                 </td>
                                <td *ngIf="variant.option3"  class="option" [ngClass]="{hide: currentVariant==variant.id}">
                                    <input class="color-orange" [(ngModel)]="variant.option3">
                                </td>
                                <td *ngIf="inventoryManagement" [ngClass]="{hide: currentVariant==variant.id}"><input [(ngModel)]="variant.inventory_quantity"></td>
                                <td [ngClass]="{hide: currentVariant==variant.id}"><input [(ngModel)]="variant.price"></td>
                                <td [ngClass]="{hide: currentVariant==variant.id}"><input [(ngModel)]="variant.sku"></td>
                                <td [ngClass]="{hide: currentVariant==variant.id}">
                                    <a class="btn unit-left">Edit</a>
                                    <a class="btn unit-right fa fa-trash" (click)="bulkVariants=[variant];showDeleteVariants=true;"></a>
                                </td>
                                <span *ngIf="currentVariant==variant.id" class="hover">
                                    <div>
                                        Drop to set the variant image for 
                                        <span class="color-green">{% templatetag openvariable %}variant.option1{% templatetag closevariable %}</span>
                                        <span *ngIf="variant.option2" class="color-purple">, {% templatetag openvariable %}variant.option2{% templatetag closevariable %}</span>
                                        <span *ngIf="variant.option3" class="color-orange">, {% templatetag openvariable %}variant.option3{% templatetag closevariable %}</span>
                                    </div>
                                </span>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>