{% load static %}
{% include "admin/errorsbox.html" with class="section-profile" %}

<div class="row pt20 center" *ngIf="form.product">
    <div class="row w16 left pl30">
        <div class="rows w16">
            <form class="form pv10" [formGroup]="form.product">
                {% with group='product' change='onFormChange()' %}
                {% include "admin/input-section.html" with control1="title" placeholder1="Short Sleeve T-Shirt" %}
                {% endwith %}
                <div class="input-section">
                    <reach-text-editor [parent]="self" [change]="'onFormChange'"></reach-text-editor> 
                </div>
            </form>
            {% include "admin/product/edit-images.html" %}
            {% include "admin/product/new-variants.html" %}
        </div>
        <div class="rows w8 ml20">
            <form class="form pv20 grey">
                <strong class="pl20 font16">Visibility</strong>
                <div class="row"><div class="separator mv20"></div></div>
                <div class="row ph20 input backgraund-grey">
                    <input type="checkbox" id="online_store" [(ngModel)]="online_store" name="online_store" (change)="onChangeOnlineStore(online_store)">
                    <label for="online_store"><i class="fa fa-check"></i>Online store</label>
                    <a class="fa fa-calendar-o ml-auto color-blue bold" title="Set publish date" (click)="showPublishedAt=!showPublishedAt;"></a>
                </div>
                <div *ngIf="!online_store && published_at" class="row ph20 pv10 color-subdued">
                    Will be published on: [[ published_at.format('LLL') ]]
                </div>
                <span *ngIf="showPublishedAt">
                    <div class="row ph20 pv10 color-subdued">
                        Publish this product on
                    </div>
                    <div class="row ph20">
                        <div class="row input backgraund-grey">
                            <input [(ngModel)]="published_at_date"
                                    name="published_at_date" class="backgraund-white mt0" id="base-calendar"
                                    (input)="publeshedDateInput()"
                                    (click)="onShowCalendar($event)">
                            <input [(ngModel)]="published_at_time" 
                                    name="published_at_time" class="backgraund-white mt0" id="base-publish-time" 
                                    (click)="getTimes($event)"
                                    (input)="publishedTimeInput()"
                                    id="base-publish-time">

                            <a class="cross fa fa-times ml20 color-blue" (click)="onCancelPublishedAt();"></a>

                            <pop-up-menu class="down color-default hide mt18" id="publish-time" [items]="times" (select)="publishedTimeChage($event)"></pop-up-menu>

                            <span *ngIf="showCalendar">
                                <calendar id="calendar"
                                    [parent]="self"
                                    [show]="'showCalendar'"
                                    [change]="'publeshedDateChange'"
                                    [start_date]="now">
                                </calendar>
                            </span>
                        </div>
                    </div>
                </span>
            </form>
            <form class="form mt20 pv20 grey" [formGroup]="form.product">
                <strong class="pl20 font16">Organization</strong>
                <div class="row mt20 mh10">
                    <label class="input input-box backgraund-grey">Product type
                        <span class="row mv10">
                            <input class="backgraund-white mt0" formControlName="product_type" (input)="onFormChange()" placeholder="Shirts">
                            <a class="btn color-subdued fa-vertical" (click)="getTypes($event)">
                                <i class="fa fa-angle-up bold"></i><i class="fa fa-angle-down bold"></i>
                            </a>
                            <pop-up-menu class="down color-default hide mt18 w24" id="product-types" [items]="product_types" (select)="productType($event)"></pop-up-menu>
                        </span>
                    </label>
                </div>
                <div class="row m10">
                    <label class="input input-box backgraund-grey">Vendor
                        <span *ngIf="_admin.settings.STORE_NAME" class="row mv10">
                            <input class="backgraund-white mt0" formControlName="vendor" (input)="onFormChange()" [attr.placeholder]="_admin.settings.STORE_NAME">
                            <a class="btn color-subdued fa-vertical" (click)="getVendors($event)">
                                <i class="fa fa-angle-up bold"></i><i class="fa fa-angle-down bold"></i>
                            </a>
                            <pop-up-menu class="down color-default hide mt18 w24" id="vendors" [items]="vendors" (select)="productVendor($event)"></pop-up-menu>
                        </span>
                    </label>
                </div>
                <div class="row"><div class="separator mv10"></div></div>
                <div class="row m10">
                    <label class="input input-box backgraund-grey" (click)="getCollections($event)">Collections
                        <span class="row mv10">
                            <input class="backgraund-white" #search (keyup)="onSearchCollections($event, search.value)" placeholder="Search for collections">
                            <pop-up-menu class="down color-default hide mt18 w24" id="collections" [items]="collections" (select)="selectCollection($event)"></pop-up-menu>
                        </span>
                    </label>
                </div>
             </form>
        </div>
    </div>
 </div>

{% include "admin/product/edit-variants.html" %}

<div class="separator mt20"></div>

<div class="row p25 center">
    <div class="row end w16 ph30">
        <a class="btn btn-red mr-auto" (click)="deleteProduct();">Delete Product</a>
        <a class="btn btn-blue"
        [ngClass]="{disabled : !formChange}"
        (click)="onSave()"> Save Product</a>
    </div> 
</div>

<leave-page 
    [parrent_component]="self">
</leave-page>

{% include "admin/product/bulk-actions.html" %}


<!-- <div class="row pt20 center" *ngIf="form.product">
    <div class="row w16 left pl30">
        <div class="rows w16 ml30">
            <form class="form pb10" [formGroup]="form.product">
                {% with group='product' change='onFormChange()' %}
                {% include "admin/input-section.html" with control1="title" placeholder1="Short Sleeve T-Shirt" %}
                {% endwith %}
                <div class="input-section">
                    <reach-text-editor
                        [parrent_component]="self"></reach-text-editor> 
                </div>
            </form>
        </div>
    </div>
 </div>

{% include "admin/product/edit-images.html" %}
{% include "admin/product/new-variants.html" %}
{% include "admin/product/edit-variants.html" %}

<div class="separator mt20"></div>

<div class="row p25 center">
    <div class="row end w16 ph30">
        <a class="btn btn-red mr-auto ml30" (click)="deleteProduct();">Delete Product</a>
        <a class="btn btn-blue"
        [ngClass]="{disabled : !formChange}"
        (click)="onSave()"> Save Product</a>
    </div> 
</div>

<leave-page 
    [parrent_component]="self">
</leave-page>

{% include "admin/product/bulk-actions.html" %} -->