{% load static %}
{% include "admin/errorsbox.html" with class="section-profile" %}
<div class="rows pt20 center" *ngIf="form.product">
    <div class="row w16 left pl30">
        <div class="rows w16 ml30">
            <div class="form pb10">
                {% with group='product' change='onFormChange()' %}
                {% include "admin/input-section.html" with control1="title" placeholder1="Short Sleeve T-Shirt" %}
                {% endwith %}
                <div class="input-section">
                    <reach-text-editor
                        [parrent_component]="self"></reach-text-editor> 
                </div>
            </div>
        </div>
    </div>
 </div>

{% include "admin/product/edit-images.html" %}
{% include "admin/product/new-variants.html" %}
{% include "admin/product/edit-variants.html" %}

<div class="separator mt20"></div>

<div class="row p25 center">
    <div class="row end w16 ph30">
        <a class="btn btn-red mr-auto ml30" (click)="onDeleteProduct();">Delete Product</a>
        <a class="btn btn-blue"
        [ngClass]="{disabled : !formChange}"
        (click)="onSave()"> Save Product</a>
    </div> 
</div>

<leave-page 
    [parrent_component]="self">
</leave-page>

{% include "admin/product/bulk-actions.html" %}