<div class="rows pt20 center" *ngIf="form.product">
    <div class="row w24 left pl30">
        <div class="rows w16 ml30">
            <div class="form pb10">
                {% with group='product' change='onSave' %}
                {% include "admin/input-section.html" with control1="title" placeholder1="Short Sleeve T-Shirt" %}
                {% endwith %}
                <div class="input-section">
                    <reach-text-editor   
                        [parrent_component]="self"></reach-text-editor> 
                </div>
            </div>
        </div>
    </div>
 </div>
<script>
  var editor = new wysihtml5.Editor('editor', {
    toolbar: 'toolbar',
    parserRules:  wysihtml5ParserRules
  });
</script>
    