{% load static %}
<div class="rows pt20 center" *ngIf="form.product">
    <div class="row w16 left pl30">
        <div class="rows w16 ml30">
            <div class="form pb10">
                {% with group='product' change='onFormChange()' %}
                {% include "admin/input-section.html" with control1="title" placeholder1="Short Sleeve T-Shirt" %}
                {% endwith %}
                <div class="input-section">
                    <reach-text-editor
                        [parrent_component]="self"></reach-text-editor> 
                </div>
            </div>
        </div>
    </div>
 </div>

<div class="rows pt20 center">
    <div class="row w16 left pl30">
        <div class="rows w16 ml30">
            <div class="form pt20" id="drop-zone">
                <div class="row mh20">
                    <strong class="col mr-auto font16">Images</strong>
                    <div class="col ref">Upload image
                        <input type="file" accept="image/gif, image/jpeg, image/png" (change)="upLoadImage($event)">
                    </div>
                </div>
                <div class="dragover" [ngClass]="{visible: !images.length || dragOver}">
                    <div [ngClass]="{hover : dragOver}">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        <div>Drop files to upload</div>
                    </div>
                </div>
                <ul class="images mh20 mb20" id="images" [ngClass]="{hide: dragOver}">
                    <li *ngFor="let image of images; let i = index;"
                        (mouseover)="currentImg=i;"
                        (mouseleave)="currentImg=undefined"
                        (mousedown)="drabImg=true"
                        (mouseup)="drabImg=undefined"
                        [ngClass]="{grabbing : drabImg}">
                        <span>
                            <img *ngIf="image.attachment" 
                                src="{% verbatim %}{{ image.attachment }}{% endverbatim %}" 
                                alt="" 
                                attr.data-type="{% verbatim %}{{ image.type }}{% endverbatim %}"
                                id="{% verbatim %}{{ image.id }}{% endverbatim %}">
                            <img *ngIf="image.src" 
                                src="{% verbatim %}{{ image.src }}{% endverbatim %}" 
                                alt="" 
                                attr.data-type="{% verbatim %}{{ image.type }}{% endverbatim %}"
                                id="{% verbatim %}{{ image.id }}{% endverbatim %}">
                            </span>
                        <div [ngClass]="{hide : currentImg!=i}">
                            <div class="row center" >
                                <a class="btn trash fa fa-eye" aria-hidden="true" title="Preview"></a>
                                <a class="btn trash fa fa-pencil" aria-hidden="true" title="Edit image" (click)="editImage(image.id)"></a>
                                <a class="btn font9 bold" aria-hidden="true" title="Edit alt text">ALT</a>
                                <a class="btn trash fa fa-trash" aria-hidden="true" title="Delete" (click)="deleteImage(image.id)"></a>
                            </div>
                        </div>
                    </li>
                    <li *ngIf="images.length<1" class="hidden" ><span></span></li>
                </ul>
            </div>
        </div>
    </div>
 </div>
