<nav>
    <ul class="menu" [ngClass]="{'selected-with-submenu': selectedNav.submenu.length > 0, 'force-submenu-show': forceSubmenuShow}"
        (transitionend)= "forcePopupShow=false">
        <h1> 
            <a href="/"> <i class="fa fa-shopping-bag"></i> <span>Shopifier</span></a>
        </h1>
        <li *ngFor="let nav of navs"
            [ngClass]="{selected: nav === selectedNav, 'with-submenu': nav.submenu.length > 0}"
            (click)="onSelect(nav); forcePopupShow=false;">
            <a href="{% verbatim %}{{ nav.url }}{% endverbatim %}">
                <i class="fa fa-{% verbatim %}{{ nav.icon }}{% endverbatim %}" title="{% verbatim %}{{ nav.text }}{% endverbatim %}"></i>
                {% verbatim %}{{ nav.text }}{% endverbatim %}
             </a>
        </li>
        <li class="account"  *ngIf="currentUser"
            (click)="forcePopupShow=true">
            <div>
                <i>
                {% verbatim %}{{ currentUser.first_name[0] + currentUser.last_name[0] }}{% endverbatim %}
                </i>
                <span>
                    <span> Shopifier</span>
                     <span> {% verbatim %}{{ currentUser.first_name + ' ' + currentUser.last_name }}{% endverbatim %}</span>       
                </span>
                
            </div>
        </li>
        
        <popup *ngIf="currentUser" [ngClass]="{show: forcePopupShow }">            
            <div>
                <div>
                    <ul>
                        <li *ngFor="let popup of popups">
                            <a href="{% verbatim %}{{ popup.url }}{% endverbatim %}">  
                            {% verbatim %}{{ popup.text }}{% endverbatim %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <a  href="settings/account/1/"> Your profile</a>
                        </li>
                        <li>
                            <a href="auth/logout"> Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
            <tringle></tringle>   
        </popup>
    </ul>
    <ul class="menu submenu" *ngIf="selectedNav.submenu.length > 0">
         <h3>{% verbatim %}{{ selectedNav.text }}{% endverbatim %}</h3>
         <li *ngFor="let subnav of selectedNav.submenu"
            [ngClass]="{selected: subnav === selectedSubNav}"
            (click)="onSelectSubNav(subnav); forcePopupShow=false;">
            <a href="{% verbatim %}{{ subnav.url }}{% endverbatim %}">{% verbatim %}{{ subnav.text }}{% endverbatim %}</a>
        </li>
    </ul>
</nav>

<section>
  <header>
      <h1>
        <i class="fa fa-{% verbatim %}{{ headerNav[headerNav.length-1].icon }}{% endverbatim %}"></i>
        <ul>
            <li *ngFor="let headnav of headerNav"
                (click)="onSelectHeader(headnav)">
                <a href="{% verbatim %}{{ headnav.url }}{% endverbatim %}" >
                    {% verbatim %}{{ headnav.text }}{% endverbatim %}
                </a>
                <span>/</span> 
                <div>{% verbatim %}{{ headnav.text }}{% endverbatim %}</div>
            </li>
        </ul>        
      </h1>
  </header>
  
<router-outlet></router-outlet>
  
</section>