<modal-form [ngClass]="{hideDeleteSessions: !show}">
    <form class="input-form">
        {% csrf_token %}
        <div class="modal-header">
            <div>
                Expire User Sessions
            </div>
            <a class="fa fa-times" aria-hidden="true"
              (click)="show=false"></a>
        </div>
         <div class="modal-section">
            <div class="input-box">
                <div>Are you sure you want to force all users to re-login?
                </div>
            </div>            
        </div>
        <div class="modal-footer">
            <a class="btn"
            (click)="show=false">Cancel</a>
            <a class="btn-main" (click)="goDeleteSessions()">Yes</a>
        </div>
    </form>
</modal-form>