<div class="section">
    <div class="section-annotation">
        <h3>Account overview</h3>
        <div>
            <p>
                An overview of your current plan. Grow your business by upgrading your plan features. View our
                <a class="ref" href="#">terms of service</a>
                and
                <a class="ref" href="#">privacy policy</a>
                .
            </p>
        </div>
    </div>
    <div class="section-content">
        <div class="card">
            <div class="section">
                <div class="cell">
                    <label>Memeber since</label>                                
                    <span *ngIf="currentUser">{% verbatim %}{{ setDate(currentUser.date_joined) | date:'longDate' }}{% endverbatim %}</span>
                </div>
                <div class="cell">
                    <label>Current plan</label>                                
                    <span>Trial/Forever</span>
                </div>
                <div class="cell">
                    <label>Account status</label>                                
                    <span>active</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section" *ngIf="currentUser">
    <div class="section-annotation">
        <h3>Staff members</h3>
        <div *ngIf="currentUser.is_admin">
            <p>You can give other people admin access to your Shopifier store.</p>
            <p>
                <a *ngIf="invite_user" class="btn" 
                (click)="goInvite()">Add staff member</a>
            </p>
            <br>
            <p>You can log other staff members out of your Shopifier store.</p>
            <p>
                <a *ngIf="delete_sessions" class="btn"
                (click)="goDeleteSessions()">Expire user sessions</a>
            </p>
        </div>
    </div>
    <div class="section-content">
        <div class="card">
            <div class="section">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Admin Access</th>
                                <th>Last Login Date</th>
                                <th></th>
                            </tr>
                        </thead> 
                        <tbody *ngIf="users">
                            <tr *ngFor="let user of users">
                                <td>
                                    <div class="avatar" *ngIf="user">
                                        {% verbatim %}{{ user.first_name[0] + user.last_name[0] }}{% endverbatim %}
                                        <img *ngIf="user.avatar" src="{% verbatim %}{{ user.avatar }}{% endverbatim %}">
                                    </div>
                                </td>
                                <td>
                                    <a class="ref" *ngIf="user.is_active" (click)="goProfile(user)" >{% verbatim %}{{ user.first_name + ' ' + user.last_name }}{% endverbatim %}</a>
                                    <a class="ref" *ngIf="!user.is_active" (click)="goProfile(user)">{% verbatim %}{{ user.first_name + ' ' + user.last_name }}{% endverbatim %} - invited</a>     
                                </td>
                                <td>
                                    <a class="email">
                                      {% verbatim %}{{ user.email }}{% endverbatim %} 
                                    </a>
                                </td>
                                <td [ngSwitch]="user.is_admin">
                                    <span *ngSwitchWhen="true">Account owner</span>
                                    <span *ngSwitchDefault>Full access</span>
                                </td>
                                <td [ngSwitch]="user.visit_datetime">
                                    <span *ngSwitchWhen="null">No sessions found</span>
                                    <span *ngSwitchDefault>{% verbatim %}{{setDate(user.visit_datetime) | date:'yMMMMd mmss'}}{% endverbatim %}</span>
                                </td>
                                
                                <td>
                                    <a *ngIf="delete_user" class="btn trash fa fa-trash" aria-hidden="true" title="Delete user"
                                        [ngClass]="{hide: currentUser.id==user.id || !currentUser.is_admin}"
                                        (click)="goDelete(user)">
                                    </a>
                                </td>
                            </tr>
                        </tbody>                       
                    </table>
                </div>
            </div>
        </div>    
    </div>
</div>
