<nav (mouseleave)="menus.hideAll()">
    <ul class="menu" [ngClass]="{'selected-with-submenu': selectedNav.submenu.length > 0, 'force-submenu-show': forceSubmenuShow}"
        (transitionend)= "forcePopupShow=false">
        <h1> 
            <a href="/"> <i class="fa fa-shopping-bag"></i> <span>Shopifier</span></a>
        </h1>
        <li *ngFor="let nav of navs | permissions:permissions"
            [ngClass]="{selected: nav === selectedNav, 'with-submenu': nav.submenu.length > 0}"
            (click)="onSelect(nav); forcePopupShow=false;">
            <a href="[[ nav.url ]]">
                <i class="fa fa-[[ nav.icon ]]" title="[[ nav.text ]]"></i>
                [[ nav.text ]]
             </a>
        </li>
        <li class="account" *ngIf="currentUser" id="base-profile"
            (click)="menus.onSwitch($event, 'profile');"
            (mouseover)="forceSubmenuShow=false;">

            <div class="avatar" *ngIf="currentUser">
                [[ currentUser.first_name[0] + currentUser.last_name[0] ]]
                <img *ngIf="currentUser.avatar" src="[[ currentUser.avatar ]]">
            </div>
            <span>
                <span> Shopifier</span>
                 <span> [[ currentUser.first_name + ' ' + currentUser.last_name ]]</span>
            </span>
        </li>

        <popup id="profile" class="up hide">
            <div class="backgraund-white">
                <ul class="p10">
                    <li *ngFor="let popup of popups" class="ref p5 pr20">
                        <a class="ref"[attr.href]="popup.url" (click)="menus.hideAll();">[[ popup.text ]]</a>
                    </li>
                </ul>
                <div class="sep"></div>
                <ul class="p10">
                    <li *ngIf="permissions.includes('settings') || permissions[0] == 'full'" class="ref p5 pr20">
                        <a class="ref" [routerLink]="['/settings/account', currentUser.id]"
                            (click)="menus.hideAll();" > Your profile
                        </a>
                    </li>
                    <li class="ref p5 pr20">
                        <a class="ref" [routerLink]="['/auth/logout']"
                            (click)="menus.hideAll();"> Log out
                        </a>
                    </li>
                </ul>
            </div>
        </popup>
    </ul>

    <ul class="menu submenu">
         <h3>[[ selectedNav.text ]]</h3>
         <li *ngFor="let subnav of selectedNav.submenu | permissions:permissions"
            [ngClass]="{selected: subnav === selectedSubNav}"
            (click)="onSelectSubNav(subnav); forcePopupShow=false;">
            <a href="[[ subnav.url ]]">[[ subnav.text ]]</a>
        </li>
    </ul>
</nav>

<div class="rows">
  <header >
      <h1>
        <i class="fa fa-[[ headerNav[headerNav.length-1].icon ]]"></i>
        <ul>
            <li *ngFor="let headnav of headerNav"(click)="onSelectHeader(headnav)">
                <a>[[ headnav.text ]]</a><span>/</span><div>[[ headnav.text ]]</div>
            </li>
        </ul>
      </h1>
      <div *ngIf="headerButtons">
         <a *ngFor="let btn of headerButtons" 
                class="[[ btn.class ]]"
                [ngClass]="{disabled : (!btn.self.formChange && btn.primary) || btn.self[btn.disabled]}"
                (click)="btn.click.call(btn.self, btn.self)">
                [[ btn.text ]]
        </a> 
      </div>
  </header>
<section>
  <router-outlet></router-outlet>
</section>
</div>

<footer 
    [ngClass]="{hidden: !footerShow, 'show': footerShow}">
    <h1 class="mb30">[[ footerText ]]</h1>
</footer>

