<nav>
    <ul class="menu" [ngClass]="{'selected-with-submenu': selectedNav.submenu.length > 0, 'force-submenu-show': forceSubmenuShow}"
        (transitionend)= "forcePopupShow=false">
        <h1> 
            <a href="/"> <i class="fa fa-shopping-bag"></i> <span>Shopifier</span></a>
        </h1>
        <li *ngFor="let nav of navs"
            [ngClass]="{selected: nav === selectedNav, 'with-submenu': nav.submenu.length > 0}"
            (click)="onSelect(nav); forcePopupShow=false;">
            <a href="{% verbatim %}[[ nav.url ]]{% endverbatim %}">
                <i class="fa fa-{% verbatim %}[[ nav.icon ]]{% endverbatim %}" title="{% verbatim %}[[ nav.text ]]{% endverbatim %}"></i>
                {% verbatim %}[[ nav.text ]]{% endverbatim %}
             </a>
        </li>
        <li class="account"  *ngIf="currentUser"
            (click)="forcePopupShow=true;"
            (mouseover)="forceSubmenuShow=false;">

            <div class="avatar" *ngIf="currentUser">
                {% verbatim %}[[ currentUser.first_name[0] + currentUser.last_name[0] ]]{% endverbatim %}
                <img *ngIf="currentUser.avatar" src="{% verbatim %}[[ currentUser.avatar ]]{% endverbatim %}">
            </div>
            <span>
                <span> Shopifier</span>
                 <span> {% verbatim %}[[ currentUser.first_name + ' ' + currentUser.last_name ]]{% endverbatim %}</span>
            </span>
        </li>

        <popup *ngIf="currentUser" [ngClass]="{show: forcePopupShow }">
            <div>
                <div>
                    <ul>
                        <li *ngFor="let popup of popups">
                            <a href="{% verbatim %}[[ popup.url ]]{% endverbatim %}">  
                            {% verbatim %}[[ popup.text ]]{% endverbatim %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <a [routerLink]="['/settings/account', currentUser.id]"> Your profile</a>
                        </li>
                        <li>
                            <a [routerLink]="['/auth/logout']"> Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
            <tringle></tringle> 
        </popup>
    </ul>
    <ul class="menu submenu" *ngIf="selectedNav.submenu.length > 0">
         <h3>{% verbatim %}[[ selectedNav.text ]]{% endverbatim %}</h3>
         <li *ngFor="let subnav of selectedNav.submenu"
            [ngClass]="{selected: subnav === selectedSubNav}"
            (click)="onSelectSubNav(subnav); forcePopupShow=false;">
            <a href="{% verbatim %}[[ subnav.url ]]{% endverbatim %}">{% verbatim %}[[ subnav.text ]]{% endverbatim %}</a>
        </li>
    </ul>
</nav>

<div class="rows">
  <header >
      <h1>
        <i class="fa fa-{% verbatim %}[[ headerNav[headerNav.length-1].icon ]]{% endverbatim %}"></i>
        <ul>
            <li *ngFor="let headnav of headerNav"
                (click)="onSelectHeader(headnav)">
                <a>
                    {% verbatim %}[[ headnav.text ]]{% endverbatim %}
                </a>
                <span>/</span> 
                <div>{% verbatim %}[[ headnav.text ]]{% endverbatim %}</div>
            </li>
        </ul>        
      </h1>
      <div *ngIf="headerButtons">
         <a *ngFor="let btn of headerButtons" 
                class="{% verbatim %}[[ btn.class ]]{% endverbatim %}"
                [ngClass]="{disabled : (!btn.self.formChange && btn.primary) || btn.self[btn.disabled]}"
                (click)="btn.click.call(btn.self, btn.self)">
                {% verbatim %}[[ btn.text ]]{% endverbatim %}
        </a> 
      </div>  
  </header>
<section>
  <router-outlet></router-outlet>
</section>
</div>

<footer 
    [ngClass]="{hidden: !footerShow, 'show': footerShow}">
    <h1 class="mb30">{% verbatim %}[[ footerText ]]{% endverbatim %}</h1>
</footer>

