<div *ngIf="user" class="section-profile ">
    <div class="section-annotation">
        <h3>Account information</h3>
        <p>All information relevant to the account.</p>
    </div>
    
    <div class="section-content">
        <form>
            <div class="section">
                <div class="input-box">
                    <div class="avatar" *ngIf="user">
                        {% verbatim %}{{ user.first_name[0] + user.last_name[0] }}{% endverbatim %}
                        <img *ngIf="user.avatar && !avatar_img" src="{% verbatim %}{{ user.avatar }}{% endverbatim %}">
                        <img *ngIf="avatar_img"  src="{% verbatim %}{{ avatar_img }}{% endverbatim %}">
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="input-box">
                    <strong>Profile photo</strong>
                    <p>Shown whenever you comment or perform an action within Shopify. </p>
                </div>
            </div>
            <div class="section">
                <div class="box">
                     <div class="btn">Upload photo
                        <input type="file"  accept="image/gif, image/jpeg, image/png" (change)="upLoadAvatar($event)">
                     </div>
                     <a class="btn" [ngClass]="{disabled: !avatar_img}" (click)="avatar_img=null" >Delete photo</a>
                </div>
            </div>
            <div class="section">
                <div class="input-box">
                    <label>First Name</label>
                    <input [ngFormControl]="lform.controls['first_name']">
                </div>    
                <div class="input-box">
                    <label>Last Name</label>
                    <input [ngFormControl]="lform.controls['last_name']">
                </div>   
            </div>
            <div class="section">
                <div class="input-box">
                    <p>Email address</p>
                    <span>{% verbatim %}{{ user.email }}{% endverbatim %} <a href="#">Change email</a></span>
                </div>    
                <div class="input-box">
                    <label>Phone (optional)</label>
                    <input [ngFormControl]="lform.controls['phone']">
                </div>   
            </div>
            <div class="section">
                <div class="input-box">
                    <label>Personal website address (optional)</label>
                    <input [ngFormControl]="lform.controls['www_site']">
                </div>   
            </div>
            <div class="section">
                <div class="input-box">
                    <label>Bio (optional)</label>
                    <textarea [ngFormControl]="lform.controls['bio']"></textarea>
                </div>   
            </div>
            <div class="section">
                <div class="input-box">
                    <a href="#">Change password</a>
                </div>   
            </div>
        </form>
    </div>
</div>

<div *ngIf="user" class="section-profile ">    
    <div class="section-annotation">
        <h3>Recent login history</h3>
        <p>Access from an ISP, Location, or IP address you don't recognize may indicate that the account has been compromised and should be reviewed further.</p>
        <p>
            <a class="btn">Expire user's sessions</a>
        </p>
    </div>
    
     <div class="section-content">
        <div class="card">
            <div class="section">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>IP</th>
                                <th>ISP</th>
                                <th>Location</th>
                                <th></th>
                            </tr>
                        </thead> 
                        <tbody *ngIf="sessions">
                            <tr  class="wide" *ngFor="let session of sessions">
                                 <td>
                                    {% verbatim %}{{ setDate(session.visit_datetime) | date:'EEEE at jm' }}{% endverbatim %}     
                                </td>
                                <td>
                                    {% verbatim %}{{ session.ip }}{% endverbatim %} 
                                </td>
                                <td >
                                    {% verbatim %}{{ session.isp }}{% endverbatim %}
                                </td>
                                <td>
                                    {% verbatim %}{{ session.city + ', ' + session.country }}{% endverbatim %}
                                </td>
                                
                                <td>
                                    <a class="btn fa fa-info-circle" aria-hidden="true" title="Firefox 46 on ubuntu">
                                    </a>
                                </td>
                            </tr>                            
                        </tbody>                       
                    </table>
                </div>
            </div>
        </div>    
    </div>
</div>

<div *ngIf="user" class="section-profile ">
    <div class="section-annotation">
        <h3>Admin Access</h3>
        <p>Select the sections that Ivan should have access to.</p>
    </div>
    
    <div class="section-content">
        <form>
            <div class="section">
                <div class="input-box">
                    <input type="checkbox" id="checkbox-id">
                    <label for="checkbox-id"><i class="fa fa-check" aria-hidden="true"></i>Limit admin access for Ivan Tuleev</label>
                </div>    
            </div>
        </form>
    </div>
</div>

<div class="section-profile ">  
    <div class="block-btn"> 
        <a class="btn-main"
        [ngClass]="{disabled : !formChange}"
        (click)="onSave()"> Save</a>
    </div> 
</div>
