<form  novalidate>
    <div class="modal-header">
        <div class="modal-title">
            Add staff member
        </div>
    </div>
    <div class="modal-section">
        <div class="modal-input-block">
            <div class="modal-label">First Name</div>
            <input>
        </div>
        <div class="modal-input-block">
            <div class="modal-label">Last Name</div>
            <input> 
        </div>
    </div>
    <div class="modal-section">
        <div class="modal-input-block long">
            <div class="modal-label">Email</div>
            <input>
        </div>        
    </div>
    
    <div class="modal-footer">
        <a class="btn cancel">Cancel</a>
        <a class="btn disabled">Send invite</a>
    </div>
</form>
