<div class="login">
    <h1>Hidevlab</h1>
    <h2>Log in to manage your store</h2>
    
    <form name="loginForm" class="login-box">
        {% csrf_token %}
       
        <div *ngIf="errors" class="dialog-status">
            {% verbatim %}{{errors.detail}}{% endverbatim %}
            <i class="fa fa-question-circle-o"></i>
        </div>
        <div class="dialog-input">
            <input id="email" type="email" class="login-input login-input-top" value="&#xf0c4;" name="email" [(ngModel)]="user.email" required placeholder="Email" autofocus>
            <i class="fa fa-envelope"></i>
        </div>
        <div class="dialog-input">
            <input type="password" class="login-input" name="password" [(ngModel)]="user.password" required placeholder="Password"/>
             <i class="fa fa-lock"></i>
             <a (click)="goLogin()">
                 <i class="fa fa-question-circle-o"></i>
             </a>
        </div>
        <button class="login-btn" type="submit" (click)="goLogin()">Log in</button>
    </form>
</div>
