<div *ngIf="errors.length> 0" class="{{ class }}">
    <div  class="input-box">
        <div class="error-list">
            <i  class="fa fa-exclamation-circle" aria-hidden="true"> </i>
            <div>
                <h2> There is {% verbatim %}{{ errors.length }}{% endverbatim %} errors</h2>
                <ul>
                    <li *ngFor="let error of errors">
                        {% verbatim %}{{ error }}{% endverbatim %}
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</div>