<div *ngIf="parrent_component.showLeavePageDialog" class="modal-form">
    <form class="input-form up" novalidate>
        <div class="modal-header">
            <h1>
                You have unsaved changes on this page
            </h1>
        </div>
        <div class="input-section">
            <div class="input-box">
                If you leave this page, all unsaved changes will be lost. Are you sure you want to leave this page?
            </div>
        </div>

        <div class="modal-footer">
            <a class="btn mr10" (click)="onClick(parrent_component, false)">Cancel</a>
            <a class="btn btn-delete" (click)= "onClick(parrent_component, true)">Leave page</a>
        </div>
    </form>
</div>
