<div class="modal-form">
    <form class="input-form up">{% csrf_token %}
        <div class="modal-header">
            <h2>{% verbatim %}{{title}}{% endverbatim %}</h2><a class="cross fa fa-times" (click)="reject()"></a>
        </div>
         <div class="row ph20 pv10">{% verbatim %}{{text}}{% endverbatim %}</div>
        <div class="modal-footer">
            <a class="btn mr10" (click)="reject()">Cancel</a>
            <a *ngIf="!del" class="btn btn-blue" (click)="resolve()">{% verbatim %}{{btn}}{% endverbatim %}</a>
            <a *ngIf="del" class="btn btn-delete" (click)="resolve()">{% verbatim %}{{btn}}{% endverbatim %}</a>
        </div>
    </form>
</div>
