<label class="input-box input">
    Description
    <form class="edit-box">
        <div id="toolbar" class="row" class="edit-toolbar">
            <div class="row" [ngClass]="{hide:showHtml}">
                <div id="base-formatting-popover" class="tool row left" title="Formatting"
                (click)="onPopover($event, popover_formatting)">
                    <span class="fa fa-font" aria-hidden="true"></span><span class="fa fa-caret-down ml4" aria-hidden="true"></span>
                </div>
                <popover id="formatting-popover" class="down left color-default hide mt18">
                    <div class="default-popover">
                       <ul>
                            <li *ngFor="let format of formats" (click)="commandFormatBlock(format.tag)">[[ format.title ]]</li>
                        </ul>
                    </div>
                </popover>

                <div (click)="commandTag('bold')" title="Bold" class="tool fa fa-bold"></div>
                <div (click)="commandTag('italic')" title="Italic" class="tool fa fa-italic"></div>
                <div (click)="commandTag('underline')" title="Underline" class="tool right fa fa-underline"></div>
                <div (click)="commandTag('insertUnorderedList')" title="Bulleted list" class="tool left fa fa-list-ul"></div>
                <div (click)="commandTag('insertOrderedList')" title="Numbered list" class="tool fa fa-list-ol"></div>
                <div (click)="commandTag('Outdent')" title="Outdent" class="tool fa fa-outdent"></div>
                <div (click)="commandTag('Indent')" title="Indent" class="tool fa fa-indent"></div>
                
                <div id="base-alignment-popover" class="tool row left" title="Alignment" (click)="onPopover($event, popover_alignment)">
                    <span class="fa fa-align-left" aria-hidden="true"></span><span class="fa fa-caret-down ml4" aria-hidden="true"></span>
                </div>
                <popover id="alignment-popover" class="down color-default hide mt18">
                    <div class="default-popover">
                       <ul>
                            <li *ngFor="let align of alignments" (click)="commandTag(align.command)">[[ align.title ]]</li>
                        </ul>
                    </div>
                </popover>
                <div id="base-color-popover" class="tool row right" title="Color" (click)="onPopover($event, popover_color)">
                    <span class="fa fa-font" aria-hidden="true"></span><span class="fa fa-caret-down ml4" aria-hidden="true"></span>
                </div>
                <popover id="color-popover" class="down color-default hide mt18">
                    <div class="rte-color-container">
                        <div class="columns rte-color-sections" [ngClass]="{bg: !textBackground, txt: textBackground}">
                            <div class="rte-text-color-section">
                                <div class="row rte-colors-title">Text color</div>
                                <div *ngFor="let colors of palette">
                                    <div class="row sep"></div>
                                    <div class="rte-colors">
                                        <div *ngFor="let color of colors" class="rte-color" [attr.title]="color.title" [style.background-color]="color.color"
                                        (click)="commandColor(color.color)"></div>
                                    </div>
                                </div>
                                <div class="row rte-colors-ref" (click)="switchTextBackground($event)">Background color</div>
                            </div>
                            <div class="rte-bg-color-section">
                                <div class="row rte-colors-title">Background color</div>
                                <div *ngFor="let colors of palette">
                                    <div class="row sep"></div>
                                    <div class="rte-colors">
                                        <div *ngFor="let color of colors" class="rte-color" [attr.title]="color.title" [style.background-color]="color.color"
                                        (click)="commandColor(color.color)"></div>
                                    </div>
                                </div>
                                <div class="row rte-colors-ref" (click)="switchTextBackground($event)">Text color</div>
                            </div>
                        </div>
                    </div>
                </popover>

                <div (click)="showLinkEdit=true" title="[[ linkToolTitle ]]" class="tool left fa fa-link"></div>
    
                <div id="base-table-popover" class="tool row" title="Insert table" (click)="onPopover($event, popover_table)">
                    <span class="fa fa-table" aria-hidden="true"></span><span class="fa fa-caret-down ml4" aria-hidden="true"></span>
                </div>
                <popover id="table-popover" class="down color-default hide mt18" data-behavior="showstyles">
                    <div class="default-popover">
                       <ul><li (click)="createTable()">Insert table</li></ul>
                       <div class="row sep mh5"></div>
                       <ul>
                            <li *ngFor="let command of tables1" (click)="commandTable($event, command.command1, command.command2)" [ngClass]="{disabled:!tableTools}">[[ command.title ]]</li>
                        </ul>
                        <div class="row sep mh5"></div>
                        <ul>
                            <li *ngFor="let command of tables2" (click)="commandTable2($event, command.command1, command.command2)" [ngClass]="{disabled:!tableTools}">[[ command.title ]]</li>
                        </ul>
                    </div>
                </popover>
            <div (click)="clearFormatting()" title="Clear Formatting" class="tool right fa fa-ban"></div>
            </div>
            <div class="row right w24">
                <div class="tool left-right" (click)="hideView();">
                    <span class="fa fa-angle-left"></span><span class="ml3 fa fa-angle-right"></span>
                </div>
            </div>
        </div>
        <textarea id="editor" autosize rows="10" class="edit-textarea" placeholder="Enter text ...">
        </textarea>
        <!-- <div id="editor" autofocus="" data-placeholder="Enter text ..." class="edit-textarea autosize wysihtml-sandbox wysihtml-editor" contenteditable="true">
        </div> -->
    </form>
</label>

 <div *ngIf="showLinkEdit" class="modal-form">
    <form class="input-form up" novalidate>
        <div class="modal-header">
            <h2>Insert link</h2>
            <a class="cross fa fa-times" aria-hidden="true"
              (click)="showLinkEdit=false;"></a>
        </div>
        <div class="input-section rte-section">
            <label class="input-box input">
                Link to
                <input class="rte-link-input" type="text" placeholder="http://" [(ngModel)]="linkTo" name="linkTo">
            </label>
            <label class="rte-select"> 
                Open this link in
                <select [(ngModel)]="openlinkIn" name="openlinkIn">
                    <option>the same window</option>
                    <option>a new window</option>
                </select>
            </label>
        </div>
        <p class="ml20 color-subdued">http:// is required for external links</p>
        <div class="input-section rte-section">
            <label class="input-box input">
                Link title
                <input class="rte-link-input" type="text" [(ngModel)]="linkTitle" name="linkTitle">
            </label>
        </div>
        <p class="ml20 color-subdued">Used for accessibility and SEO</p>

        <div class="modal-footer">
            <a *ngIf="isLink" class="btn btn-red mr-auto" (click)="removeLink();">Remove link</a>
            <a class="btn mr10" (click)="showLinkEdit=false;">Cancel</a>
            <a class="btn btn-blue" (click)="insertLink();">[[ linkToolTitle ]]</a>
        </div>
    </form>
</div>