<div class="row space-between mb20" >
    <h2 class="mt-auto"><strong>Tags</strong></h2>
    <a class="ref mt-auto" (click)="onViewAllTags()">View all tags</a>
</div>
<div>
    <div class="tooltip-error bottom30"
        [ngClass]="{hide: !tooltipError}">
        Oops, you've already used this tag.
    </div>
    <input [(ngModel)]="tag_input" class="font16"
           (keydown)="onKeyDown($event)"
           (keyup)="onKeyUp($event)"
           (focus)="onInputFocus($event)">
    <popover id="tags-popover" class="up w24 hide">
        <div class="pv3">
            <div class="row space-between pl20 pt20" *ngIf="!tag_input">
                <h3 class="mt-auto color-tags font11 bold">FREQUENTLY USED TAGS</h3>
            </div>
            <div class="row sep mt10" *ngIf="!tag_input"></div>
            <ul class="rows"
                (keyup)="onKeyUp($event)">
                <li class="row add" *ngIf="tag_input && !(available().length==1 && available()[0]==tag_input)"
                    (show)="current_i=-1">
                    <a class="row left ph20 pv5 sel"
                        (click)="insertTag($event, tag_input)"
                        (mouseover)="current_i=-1"
                        [ngClass]="{sel:current_i==-1}">
                        <i class="fa fa-plus-circle mv-auto" aria-hidden="true"></i>
                        <h3 class="bold ml5 mv-auto">Add</h3>
                        <span class="ml5 mv-auto">{% verbatim %}{{ '"' + tag_input+'"' }}{% endverbatim %}</span>
                    </a>
                </li>
                <li class="row" *ngFor="let tag of all_tags|not_in:tags|stastartswith:tag_input; let i=index;"
                    (mouseover)="current_i=i">
                    <a class="ph20 pv5"
                        (click)="insertTag($event, tag)"
                        (keyup)="onKeyUp($event)"
                        [ngClass]="{sel:i==current_i}">
                        {% verbatim %}{{ tag }}{% endverbatim %}
                    </a>
                </li>
            </ul>
        </div>
    </popover>
</div>
<ul class="mt10">
    <li class="tag" *ngFor="let tag of tags; let i=index" >
        {% verbatim %}{{ tag }}{% endverbatim %}
        <a class="fa fa-times" aria-hidden="true"
            (click)="deleteTag(i)"></a>
    </li>
    {% verbatim %}{{ current_i }}{% endverbatim %}
</ul>

