<div class="row space-between mb20" >
    <h2 class="mt-auto"><strong>Tags</strong></h2>
    <a class="ref mt-auto" (click)="showAllTags=true">View all tags</a>
</div>
<div>
    <div class="tooltip-error bottom30"
        [ngClass]="{hide: !tooltipError}">
        Oops, you've already used this tag.
    </div>
    <input [(ngModel)]="tag_input" class="font16"
           (keydown)="onKeyDown($event)"
           (keyup)="onKeyUp($event)"
           (focus)="onInputFocus($event)">
    <popover id="tags-popover" class="up w24 hide">
        <div class="pv3">
            <div class="row space-between pl20 pt20" *ngIf="!tag_input">
                <h3 class="mt-auto color-tags font11 bold">FREQUENTLY USED TAGS</h3>
            </div>
            <div class="row sep mt10" *ngIf="!tag_input"></div>
            <ul class="rows" id="tags-popover-ul" 
                (keyup)="onKeyUp($event)">
                <li class="row add" *ngIf="tag_input && !(available().length==1 && available()[0]==tag_input)"
                    (show)="current_i=-1">
                    <a class="row left ph20 pv5 sel"
                        (click)="insertTag($event, tag_input)"
                        (mouseover)="current_i=-1"
                        [ngClass]="{sel:current_i==-1}">
                        <i class="fa fa-plus-circle mv-auto" aria-hidden="true"></i>
                        <h3 class="bold ml5 mv-auto">Add</h3>
                        <span class="ml5 mv-auto">{% verbatim %}{{ '"' + tag_input+'"' }}{% endverbatim %}</span>
                    </a>
                </li>
                <li *ngFor="let tag of all_tags|not_in:tags|stastartswith:tag_input; let i=index;"
                    (mouseover)="current_i=i">
                    <a class="ph20 pv5"
                        (click)="insertTag($event, tag)"
                        (keyup)="onKeyUp($event)"
                        [ngClass]="{sel:i==current_i}">
                        {% verbatim %}{{ tag }}{% endverbatim %}
                    </a>
                </li>
            </ul>
        </div>
    </popover>
</div>
<ul class="mt10 apply-tags">
    <li class="tag" *ngFor="let tag of tags; let i=index" >
        {% verbatim %}{{ tag }}{% endverbatim %}
        <a class="fa fa-times" aria-hidden="true"
            (click)="deleteTag(i)"></a>
    </li>
</ul>


<modal-form *ngIf="showAllTags">
    <form class="input-form up10" novalidate>
        <div class="modal-header">
            <h2>Tags</h2>
            <a class="cross fa fa-times" aria-hidden="true"
              (click)="showAllTags=false"></a>
        </div>
        <div>
            <h2 class="bold ph20 mb20">applied tags</h2>
            
            <ul class="ph20 pb20 apply-tags">
                <li *ngFor="let ap_tag of tags; let k=index">
                    {% verbatim %}{{ ap_tag }}{% endverbatim %}
                    <a class="fa fa-times" aria-hidden="true"
                        (click)="deleteTag(k);tagsChange=true"></a>
                </li>
            </ul>
            <div class="sep"></div>
            <div class="row p20 space-between">
                <h2 class="bold">all tags</h2>
                <div class="row right">
                    <h3 class="mb-auto mr20">Sort:</h3>
                    <a class="btn"
                        [ngClass]="{disabled: !isAlphabetically}"
                        (click)="parrent_component.sortAllTags(0);isAlphabetically=false">Alphabetically</a>
                    <a class="btn"
                        [ngClass]="{disabled: !!isAlphabetically}"
                        (click)="parrent_component.sortAllTags(1);isAlphabetically=true">Popularity</a>
                </div>
            </div>
            <ul class="all-tags ph20">
                <li *ngFor="let all_tag of all_tags; let j=index"
                    [ngClass]="{disabled: tags.includes(all_tag)}"
                    (click)="addTag(all_tag);tagsChange=true">
                    {% verbatim %}{{ all_tag }}{% endverbatim %}
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <a class="btn mr10"
            (click)="showAllTags=false">Cancel</a>
            <a class="btn btn-blue"
                [ngClass]="{disabled:!tagsChange}"
                (click)="parrent_component.saveTags(parrent_component); showAllTags=false; tagsChange=false">Apply changes</a>
        </div>
    </form>
</modal-form>


