<html>
  <head>
    <script>
      document.write('<base href="/" />');
    </script>
    <title>Shopifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/admin/css/style.css">

    <!-- 1. Load libraries -->
    <!-- IE required polyfill -->
    <script src="https://code.angularjs.org/2.0.0-beta.8/angular2-polyfills.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.8/Rx.umd.min.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.8/angular2-all.umd.dev.js"></script>

    <!-- 2. Load our 'modules' -->
    <script src='static/admin/js/account.user.js'></script>
    <script src='static/admin/js/account.service.js'></script>
    <script src='static/admin/js/account.login.js'></script>
    <script src='static/admin/js/account.js'></script>
    <script src='static/admin/js/main.js'></script>
  </head>

  <!-- 3. Display the application -->
  <body>
    <account>Loading...</account>
  </body>

</html>
