<div class="rows b center mt25">
    <div class="row b w20 right">
         <div class="col b p20">
            <div class="col h6 b">
                CCCCC
            </div>
         </div>
         
        <form class="form vw11 m10 p10">
            <div class="input-section">
                 <div class="input-box">   
                    <label class="input">
                        First Name
                        <input>
                    </label>
                </div>    
                <div class="input-box">
                    <label class="input">
                       Last Name
                        <input> 
                    </label>
                </div>
            </div>
            <div class="input-section">
                <div class="input-box"> 
                    <label class="input">
                        Email
                        <input>
                    </label>
                </div>    
            </div>
        </form>
         
    </div>
    <div class="row w8 h5 b">
         AAA
    </div>
</div>

<router-outlet></router-outlet>