<div class="rows pt20 center">
    <div class="row w16 center pl30">
        <div class="rows w16 ml30">
            <div class="form pb10" *ngIf="form.customer && form.default_address && api_data.customer">
                <div class="row mb10 p20">
                    <span class="fa-stack fa-lg color-avatar font48">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="mt6 fa fa-user fa-stack-1x fa-inverse font70"></i>
                    </span>
                     <div class="col pl20 pt15">
                        <h2><strong>{% verbatim %}{{ api_data.customer.first_name }} {{ api_data.customer.last_name }}{% endverbatim %}</strong></h2>
                        <p *ngIf="api_data.customer.default_address" class="color-subdued">{% verbatim %}{{ api_data.customer.default_address.province_name }}{{ api_data.customer.default_address.province }}{% endverbatim %}</p> 
                        <p class="color-subdued">Customer for 2 days</p> 
                    </div>
                </div>
                <div class="input-section">
                    <label class="input-box input">
                        <textarea autosize rows="1" [ngFormControl]="form.customer.controls.note" 
                        (input)="onFormChange()"
                        placeholder="Add a note about {% verbatim %}{{ api_data.customer.first_name }}{% endverbatim %}">
                        </textarea>
                    </label>
                </div>
            </div>
            <div class="form mt20 p20" *ngIf="!form.odrers">
                <h2><strong>Recent orders</strong></h2>
                <div class="rows center p15">
                    <div class="row center color-sky-darker p20 mb10">
                      <i class="fa fa-file-text-o fa-5x"></i>
                      <i class="ml rotate-45 fa fa-pencil fa-4x"></i>
                    </div>
                    <h2>This customer hasn't placed any orders yet</h2>
                </div>
            </div>
            <div class="row mt20">
                <a class="btn btn-red" (click)="onDeleteCustomer()">Delete customer</a>
            </div>
        </div>
        <div class="rows w8 ml20 mr10">
            <div class="form pb20" *ngIf="form.customer && form.default_address && api_data.customer">
                <div class="row space-between p20" >
                    <h2 class="mt-auto"><strong>Contact</strong></h2>
                    <a class="ref mt-auto" (click)="onEditCustomer()">Edit</a>
                </div>
                <div class="col p20 pb0">
                    <a class="ref mt9" (click)="showMail=true">
                        {% verbatim %}{{ api_data.customer.email }}{% endverbatim %}
                    </a>
                    <div class="color-subdued pt3 pb9">No account</div> 
                </div>
                <div class="row sep mt20 mb20"></div>
                <div class="row space-between">
                    <h2 class="pl20 mt-auto"><strong>Default address</strong></h2>
                    <div class="ref mt-auto pr20">
                        <a id="base-address-popover" class="ref mt-auto" (click)="onChangeAddress($event)">Change
                        </a>
                        <popover id="address-popover" class="down w24 color-default hide">
                            <div>
                                <div class="row space-between p20" >
                                    <h2 class="mt-auto"><strong>Change address</strong></h2>
                                    <a class="ref mt-auto" (click)="onEditAddress($event)">Add new address</a>
                                </div>
                                <ul class="rows">
                                    <li *ngFor="let address of api_data.customer.addresses">
                                        <div class="row sep mb20"></div>
                                        <div class="row pl20 pb15" *ngIf="address.default">
                                            <h3 class="mt-auto">Default address</h3>
                                        </div>
                                        <div class="row space-between">
                                            <div class="col color-subdued pl20">
                                                <div>
                                                    {% verbatim %}{{ api_data.customer.first_name }} {{ api_data.customer.last_name }}{% endverbatim %}
                                                </div>
                                                <div class="mt3">
                                                    {% verbatim %}{{ address.company }}{% endverbatim %}
                                                </div>
                                                <div class="mt3">
                                                    {% verbatim %}{{ address.province_name }}{% endverbatim %}
                                                </div>
                                                <div class="mt3">
                                                    {% verbatim %}{{ address.country_name }}{% endverbatim %}
                                                </div> 
                                            </div>
                                            <div class="col" *ngIf="!address.default">
                                                <a class="btn mr10"
                                                (click)="onSelectAddress($event, address)">Select</a>
                                            </div>
                                        </div>
                                        <div class="row p20 pt15" >
                                            <a class="ref mt-auto" (click)="onEditAddress($event, address)">Edit address</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </popover>
                    </div>
                </div>
                <div class="col color-subdued p20 pb0" *ngIf="api_data.customer.default_address">
                    <div class="mt5">
                        {% verbatim %}{{ api_data.customer.first_name }} {{ api_data.customer.last_name }}{% endverbatim %}
                    </div>
                   <div class="mt3" >
                        {% verbatim %}{{ api_data.customer.default_address.company }}{% endverbatim %}
                    </div>
                    <div class="mt3">
                        {% verbatim %}{{ api_data.customer.default_address.province_name }}{% endverbatim %}
                    </div>
                    <div class="mt3">
                        {% verbatim %}{{ api_data.customer.default_address.country_name }}{% endverbatim %}
                    </div> 
                </div>
            </div>
            <div class="form mt20 p20 grey">
                <tags   [tags]="tags" 
                        [all_tags]="all_tags" 
                        [all_tags_statistic]="all_tags_statistic"
                        [parrent_component]="self"></tags>
            </div>
        </div>
    </div>
 </div>

 <modal-form *ngIf="form.customer && showEdit">
    <form class="input-form" novalidate>
        {% with group='customer' change='customerChange' %}
        <div class="modal-header">
            <h2>Edit customer</h2>
            <a class="cross fa fa-times" aria-hidden="true"
              (click)="showEdit=false"></a>
        </div>
        {% include "admin/errorsbox.html" with class="row m10 mb20" %}
        
        {% include "admin/input-section.html" with control1="first_name" control2="last_name" %}
        {% include "admin/input-section.html" with control1="email" %}
        <div class="input-section">
             {% include "admin/checkbox.html" with control="accepts_marketing" %}
        </div>
        <div class="input-section">
            {% include "admin/checkbox.html" with control="tax_exempt" %}
        </div>
        <div class="modal-footer">
            <a class="btn mr10"
            (click)="showEdit=false">Cancel</a>
            <a class="btn btn-blue"
                [ngClass]="{disabled : !customerChange}"
                (click)="onSaveCustomer()">Save</a>
        </div>
        {% endwith %}
    </form>
</modal-form>

<modal-form *ngIf="form.default_address && showEditAddress">
    <form class="input-form" novalidate>
        {% with group='default_address' change='changeAddress' %}
        <div class="modal-header">
            <h2 *ngIf="current_address.id" >Edit address</h2>
            <h2 *ngIf="!current_address.id" >Create address</h2>
            <a class="cross fa fa-times" aria-hidden="true"
              (click)="showEditAddress=false"></a>
        </div>
        {% include "admin/errorsbox.html" with class="row m10 mb20" %}
        
        {% include 'admin/input-section.html' with control1='first_name' control2='last_name' %}
        {% include 'admin/input-section.html' with control1='company' control2='phone' %}
        {% include 'admin/input-section.html' with control1='address1' %}
        {% include 'admin/input-section.html' with control1='address2' %}
        {% include 'admin/input-section.html' with control1='city' control2='zip' %}
        <div class="input-section">
            <label class="input-box input select">
                Coutry
                <select [ngFormControl]="form.default_address.controls.country_code"
                (change)="form.default_address.controls.province.updateValue(''); changeAddress=true">
                    <option *ngFor="let country of form.default_address_meta.country_code.choices" [value]="country.value">
                            {% verbatim %}{{ country.display_name }}{% endverbatim %}
                    </option>
                </select>
            </label>
            <label class="input input-box select" *ngIf="(form.default_address_meta.province_code.choices | 
                                    province:form.default_address.controls.country_code.value).length>0"> 
                Region
                <select [ngFormControl]="form.default_address.controls.province_code"
                (change)="changeAddress=true">
                    <option *ngFor="let region of form.default_address_meta.province_code.choices | 
                                    province:form.default_address.controls.country_code.value" [value]="region.value">
                            {% verbatim %}{{ region.display_name }}{% endverbatim %}
                    </option>
                </select>
            </label>   
            {% include "admin/input.html" with control="province" display="(form.default_address_meta.province_code.choices | province:form.default_address.controls.country_code.value).length==0" %}
        </div>
    
        <div class="modal-footer">
            <a *ngIf="current_address.id && !current_address.default" class="btn btn-red mr-auto" (click)="onDeleteAddress()">Delete address</a>
            <a class="btn mr10"
               (click)="showEditAddress=false">Cancel</a>
            <a class="btn btn-blue"
                [ngClass]="{disabled : !changeAddress}"
                (click)="onSaveAddress()">Save</a>
        </div>
        {% endwith %}
    </form>
</modal-form>


 <leave-page 
    [parrent_component]="self">
</leave-page>
