<div class="rows center pt20">
    {% include "admin/errorsbox.html" with class="row w24 mb20" %}
    <div class="row w16 space-between">
        <div class="col pt20">
             <h2><strong>Customer overview</strong></h2>
        </div>
        <form class="form vw8 pt15 pb10" *ngIf="form.customer">
        {% with group='customer' %}
            {% include "admin/input-section.html" with group="customer" control1="first_name" control2="last_name" %}
            {% include "admin/input-section.html" with group="customer" control1="email" %}
            <div class="input-section">
                 {% include "admin/checkbox.html" with group="customer" control="accepts_marketing" %}
            </div>
            <div class="input-section">
                {% include "admin/checkbox.html" with group="customer" control="tax_exempt" %}
            </div>
        {% endwith %}
        </form>
    </div>

    <div class="row separator w16 m20 "></div>

    <div class="row w16 space-between">
        <div class="col w6 pt20">
             <h2><strong>Address</strong></h2>
            <p></p>
            The primary address of this customer.
        </div>
        <form class="form vw8 pt15 pb10" *ngIf="form.default_address">
        {% with group='default_address' %}
            {% include 'admin/input-section.html' with control1='first_name' control2='last_name' %}
            {% include 'admin/input-section.html' with control1='company' control2='phone' %}
            {% include 'admin/input-section.html' with control1='address1' %}
            {% include 'admin/input-section.html' with control1='address2' %}
            {% include 'admin/input-section.html' with control1='city' control2='zip' %}
            <div class="input-section">
                <label class="input-box input select">
                    Coutry
                    <select [ngFormControl]="form.default_address.controls.country_code"
                    (change)="form.default_address.controls.province.updateValue(''); formChange=true">
                        <option *ngFor="let country of form.default_address_meta.country_code.choices" [value]="country.value">
                                {% verbatim %}{{ country.display_name }}{% endverbatim %}
                        </option>
                    </select>
                </label>
                <label class="input input-box select" *ngIf="(form.default_address_meta.province_code.choices | 
                                        province:form.default_address.controls.country_code.value).length>0"> 
                    Region
                    <select [ngFormControl]="form.default_address.controls.province_code"
                    (change)="formChange=true">
                        <option *ngFor="let region of form.default_address_meta.province_code.choices | 
                                        province:form.default_address.controls.country_code.value" [value]="region.value">
                                {% verbatim %}{{ region.display_name }}{% endverbatim %}
                        </option>
                    </select>
                </label>   
                {% include "admin/input.html" with control="province" display="(form.default_address_meta.province_code.choices | province:form.default_address.controls.country_code.value).length==0" %}
            </div>
        {% endwith %} 
        </form>
    </div>
    
    <div class="row separator w16 m20 "></div>
    
    <div class="row w16 space-between">
        <div class="col w6 pt20">
            <h2><strong>Notes</strong></h2>
            <p></p>
            Enter any extra notes relating to this customer.
        </div>
        <form class="form vw8 pt15 pb10" *ngIf="form.customer">
            <div class="input-section">
                {% include "admin/textarea.html" with group="customer" control="note" placeholder="Add a note to this customer…" rows="1" %}
            </div>
        </form>
    </div>

    <div class="row separator w16 m20 "></div>

    <div class="row w16 space-between">
        <div  class="col w6 pt20">
            <h2><strong>Tags</strong></h2>
            <p></p>
            Tags can be used to categorize customers into groups.
        </div>
        <form class="form vw8 p20 pb10" *ngIf="form.customer">
            <label class="tags-input"
                [ngClass]="{err: form.customer_meta.tags.error}">
                Tags
                <ul class="mt5 large" [ngClass]="{focus: inputtagsFocus}">
                    <li class="" *ngFor="let new_tag of tags; let i=index" >
                        {% verbatim %}{{ new_tag }}{% endverbatim %}
                        <a class="fa fa-times" aria-hidden="true"
                            (click)="deleteTag(i)"></a>
                    </li>
                    <li>
                        <div class="tooltip-error attached-to-bottom"
                            [ngClass]="{hide: !tooltipError}">
                            Oops, you've already used this tag.
                        </div>
                        <input [(ngModel)]="tag"
                        (change)="changeTag()"
                        (keydown)="onKeyUpTag($event)"
                        (focus)="inputtagsFocus=true"
                        (blur)="inputtagsFocus=false">
                    </li>
                </ul>
            </label>
            <div class="row">Click to add previously used tags:</div>
            <ul class="tags pv10">
                <li class="tag" 
                    *ngFor="let tag of all_tags|length:maxTags || 10; let j=index"
                    [ngClass]="{disabled: tags.includes(tag)}"
                    (click)="addTag(tag)">
                    {% verbatim %}{{ tag }}{% endverbatim %}
                </li>
            </ul>
            <a class="ref mv10" (click)="maxTags=100" *ngIf="!maxTags || maxTags < 100">Show all tags</a>
        </form>
    </div>
</div>

<div class="row h1"></div>

<div class="row right">
    <a class="btn mr10"
    (click)="onCancel()">Cancel</a>
    
    <a class="btn btn-blue"
    [ngClass]="{disabled : !formChange}"
    (click)="onSave()"> Save customer</a>
</div>
<div class="row h1"></div>