{% load static i18n %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8" />
    <title>Shopifier</title>
</head>
    <body>
        <!-- Subject -->
        <table style="background:#000; height:48px;" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr>
            <td align="center">
              <table cellpadding="0" cellspacing="0">
                <tbody><tr>
                  <td style="padding:0 10px;" width="580">
                    <h1  style="color:#fff; font-style: italic; text-align:left; margin:0; padding:0; font-family:Helvetica, Arial, sans-serif; font-size:24px; font-weight:300; line-height: 1.2 ">
                      Shopifier
                    </h1>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody></table>
        
        <table style="background:#f2f7fa; padding:35px 0; border-bottom:1px solid #e9edf0;" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr>
            <td align="center">
              <table cellpadding="0" cellspacing="0">font-style: italic;
                <tbody><tr>
                  <td style="padding:0 10px;" width="580">
                    <h1 style="text-align:left; margin:0; padding:0; color:#000; font-family:Helvetica, Arial, sans-serif; font-size:32px; font-weight:300; line-height: 1.2">
                        Create staff account
                    </h1>
                    <h3 style="text-align:left; margin:0; padding: 10px 0 0 0; color:#585858; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:300;">
                        For the store <a target="_blank" data-href="#" href="#" style="color:#3084ca;">hdl-shop</a>
                    </h3>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody></table>
        
        <table style="padding:35px 0 20px 0;" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr>
            <td align="center">
              <table cellpadding="0" cellspacing="0">
                <tbody><tr>
                  <td style="text-align:left; padding:0 10px;" width="580">
                    <p style="line-height:24px; font-size:13px; color:#585656; font-family:Helvetica, Arial, sans-serif;">
                      You've been added to hdl-shop staff by Victor Nazarov.
                    </p>
                    <div>
                      <a target="_blank" href="https://hdl-shop.myshopify.com/admin/auth/accept/78024135/685489a4967182edbbd332f4e00124e8&amp;hash=15f6b3efd9e77459d0903c682e031058" style="display:inline-block; font-family:Helvetica, Arial, sans-serif; font-size:13px; font-weight:700; cursor:pointer; line-height:30px; padding:0 10px; color:#fff; border:1px solid #7ea13d; background:#96bf48; text-shadow:1px 1px 0px rgba(0,0,0,0.3); text-decoration:none; border-radius:3px;">Create staff account</a>
                    </div>
                    <p style="line-height:24px; font-size:13px; color:#585656; font-family:Helvetica, Arial, sans-serif;">
                      If you're not a staff member at hdl-shop, please ignore this email.
                    </p>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody></table>
    
        <table style="padding:20px 0 0 0;" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr>
            <td align="center">
              <table cellpadding="0" cellspacing="0">
                <tbody><tr>
                  <td style="padding:0 10px;" width="580">
                    <ul style="margin:0; padding:15px 0; border-top:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0; text-align:center;">
                      <li style="display:inline; margin:0 15px 0 0; padding:0;"><a target="_blank" style="color:#888; font-family:Helvetica, Arial, sans-serif; font-size:12px;" data-href="#" href="#">Support</a></li>
                      <li style="display:inline; margin:0 15px 0 0; padding:0;"><a target="_blank" style="color:#888; font-family:Helvetica, Arial, sans-serif; font-size:12px;" data-href="#" href="#">Forums</a></li>
                      <li style="display:inline; margin:0 15px 0 0; padding:0;"><a target="_blank" style="color:#888; font-family:Helvetica, Arial, sans-serif; font-size:12px;" data-href="#" href="#">Theme Store</a></li>
                      <li style="display:inline; margin:0 15px 0 0; padding:0;"><a target="_blank" style="color:#888; font-family:Helvetica, Arial, sans-serif; font-size:12px;" data-href="#" href="#">App Store</a></li>
                      <li style="display:inline; margin:0 15px 0 0; padding:0;"><a target="_blank" style="color:#888; font-family:Helvetica, Arial, sans-serif; font-size:12px;" data-href="#" href="#">Shopifier Experts</a></li>
                      <li style="display:inline; margin:0 15px 0 0; padding:0;"><a target="_blank" style="color:#888; font-family:Helvetica, Arial, sans-serif; font-size:12px;" data-href="#" href="#">Blog</a></li>
                    </ul>
                    <p style="padding-top:15px; margin:0; clear:both; text-align:center; line-height:24px; font-size:11px; color:#aaa; font-family:Helvetica, Arial, sans-serif;">
                      © Shopifier <span style="color:#ccc;">|</span> 28 Kirova Street, 6th Floor, Siktivkar, Nasha Russia
                    </p>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody></table>
    </body>
</html>

