{% extends 'admin/emails/base.html' %}


{% block h1 %}<h1 style="font-size: 24px; font-weight: 500; line-height: 137px; text-align: center; border-bottom: 1px solid #f4f7f9; background: white; color: #4e5559; margin: 0;">PASSWORD RESET</h1>{% endblock %}


{% block content %}
    <p style="margin-top: 0;">You're receiving this email because password reset for your user account on Shopifier has been requested.</p>
    <p>Please click the following button and choose a new password:</p>
    <a href="{{ reference }}" target="_blank"
        style="display: block; margin: 60px auto 0; width: 280px; padding: 0; line-height: 64px; color: white; background: #02bdd5; box-shadow: 0px 2px 3px 0px rgba(4, 5, 5, 0.20); text-decoration: none; text-align: center; border-radius: 3px;">
        SELECT NEW PASSWORD
    </a>
{% endblock %}
