<div *ngIf="user" class="modal-form notransparent">
    <form [formGroup]="lform" class="input-form up10 minus40" novalidate>{% csrf_token %}
        <div class="modal-header">
            <h1>
                <strong>Create an account for shopifier</strong>
            </h1>
        </div>
        
        <div class="modal-header">
            <div>
                Hi [[ user.first_name ]],
                <br>
                You have been invited to create an account with [[ user.store_name ]]. Please finalize your account details here. 
                <strong>Once completed you will have full access to this Shopifier store [[ user.store_name ]].</strong>
            </div>
        </div>
        <div  *ngIf="errors.length> 0" class="input-section">
            <div  class="input-box">
                <div class="error-list">
                    <i  class="fa fa-exclamation-circle" aria-hidden="true"> </i>
                    <div>
                        <h2> There is [[ errors.length ]] errors</h2>
                        <ul>
                            <li *ngFor="let error of errors">[[ error ]]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="input-section">
            <div class="input-box">    
                <label class="input" [ngClass]="{err: obj_errors['email']}">
                    Email
                    <input formControlName="email" (input)="formChange=true">
                </label>
            </div>
        </div>
        <div class="input-section">
             <div class="input-box">   
                <label class="input" [ngClass]="{err: obj_errors['first_name']}">
                    First Name
                    <input formControlName="first_name" (input)="formChange=true">
                </label>
            </div>    
            <div class="input-box">
                <label class="input" [ngClass]="{err: obj_errors['last_name']}">
                   Last Name
                   <input formControlName="last_name" (input)="formChange=true"> 
                </label>
            </div>
        </div>
        <div class="input-section">
            <div class="input-box">
                <label class="input" [ngClass]="{err: obj_errors['phone']}">
                    Phone <span class="note">(optional)</span>
                    <input formControlName="phone" (input)="formChange=true">
                </label>        
            </div>    
        </div>
        <div class="input-section">
            <div class="input-box">
                <label class="input" [ngClass]="{err: obj_errors['password1']}">
                    Password
                    <input type="password" formControlName="password1" (input)="formChange=true">
                </label>
            </div>    
        </div>
        <div class="input-section">
            <div class="input-box">    
                <label class="input" [ngClass]="{err: obj_errors['password2']}">
                    Confirm password
                    <input type="password" formControlName="password2" (input)="formChange=true">
                </label>        
            </div>    
        </div>
        <div class="input-section">
            <div class="input-box">
                <div>
                    <span class="note">By proceeding, you are agreeing to the </span><a class="ref">Terms & Conditions</a>
                </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <a class="btn mr10"
            (click)="declineInvitation=true">Decline invitation</a>
            <a class="btn btn-blue" (click)="createAccount()">Create account</a>
        </div>
    </form>
</div>

<div class="modal-form notransparent" *ngIf="declineInvitation">
    <form class="input-form up minus40" novalidate>
        <div class="modal-header">
            <h1>
                <strong>Decline invitation</strong>
            </h1>
        </div>
         <div class="input-section">
            <div class="input-box">    
                <label class="input">
                    Please specify a reason for declining this invitation. <span class="note">This will be sent to the Shopify account holder.</span>
                    <textarea (input)="formChange=true"></textarea>
                </label>
            </div>
        </div>
        <div class="input-section">
            <div class="input-box">
                <div>
                    <span class="note">By proceeding, you are agreeing to the </span><a class="ref">Terms & Conditions</a>
                </div>        
            </div>    
        </div>
        <div class="modal-footer">
            <a class="btn mr10"
            (click)="declineInvitation=false">Cancel</a>
            <a class="btn btn-blue" (click)="declineInvitationt()">Submit</a>
        </div>
    </form>
</div>
