<div class="login" *ngIf="lform">
    <h1>Hidevlab</h1>
    <h2>Log in to manage your store</h2>
    
    <form [formGroup]="lform" class="login-box" novalidate>{% csrf_token %}
        <div *ngIf="errors" class="dialog-status">
            {% verbatim %}{{errors.detail}}{% endverbatim %}
            <i class="fa fa-exclamation-triangle"></i>
        </div>
        <div class="dialog-input">
            <input type="email" class="login-input" formControlName="email" required placeholder="Email" autofocus>
            <i class="fa fa-envelope"></i>
        </div>
        <div class="dialog-input">
            <input type="password" class="login-input" formControlName="password" required placeholder="Password"/>
            <i class="fa fa-lock"></i>
            <a [routerLink]="['/auth/recover']">
               <i class="fa fa-question-circle-o" title="Forgot your password?"></i>
            </a>
        </div>
        <button class="login-btn" type="submit" (click)="goLogin()">Log in</button>
    </form>
</div>
