<div class="login">
    <h1>Forgot your password?</h1>
    <h2>We'll email you instructions on how to reset it</h2>
    
    <form [formGroup]="lform" class="login-box" novalidate>{% csrf_token %}
        <div *ngIf="errors" class="dialog-status">
            [[ errors.detail ]]
            <i class="fa fa-exclamation-triangle"></i>
        </div>
        <div class="dialog-input">
            <input type="email" class="login-input" formControlName="email" placeholder="Email" autofocus>
            <i class="fa fa-envelope"></i>
        </div>
        <button class="login-btn" type="submit" (click)="goRecover()">Email instructions</button>
        <h2>
            <a class="ref" [routerLink]="['/auth/login']">Cancel</a>
        </h2>
    </form>
</div>

