<div class="login">
    <h1>Reset your password</h1>
    <h2 *ngIf="currentUser">For the account {% verbatim %}[[ currentUser.email ]]{% endverbatim %}</h2>
    <form [formGroup]="lform" class="login-box" (ngSubmit)="goReset()" novalidate> {% csrf_token %}
        <div *ngIf="errors" class="dialog-status">
            {% verbatim %}[[ errors.detail ]]{% endverbatim %}
            <i class="fa fa-exclamation-triangle"></i>
        </div>
        <div class="dialog-input">
            <input type="password" class="login-input" formControlName="password1" placeholder="New password" autofocus>
            <i class="fa fa-lock"></i>
        </div>
        <div class="dialog-input">
            <input type="password" class="login-input" formControlName="password2" placeholder="Confirm password">
            <i class="fa fa-lock"></i>
        </div>
        <button class="login-btn" type="submit">Reset password</button>
        <h2>
            <a class="ref" href="/admin/auth/login">Cancel</a>
        </h2>
    </form>
</div>

