<div class="section">
    <div class="section-annotation">
        <div>
            <h2 class="bold">Account overview</h2>
            <p></p> 
            <p>
                An overview of your current plan. Grow your business by upgrading your plan features. View our
                <a class="ref" href="#">terms of service</a>
                and
                <a class="ref" href="#">privacy policy</a>
                .
            </p>
        </div>
    </div>
    <div class="section-content">
        <div class="card">
            <div class="section">
                <div class="cell">
                    <label>Memeber since</label> 
                    <span *ngIf="currentUser">{% verbatim %}{{ setDate(currentUser.date_joined) | date:'longDate' }}{% endverbatim %}</span>
                </div>
                <div class="cell">
                    <label>Current plan</label>
                    <span>Trial/Forever</span>
                </div>
                <div class="cell">
                    <label>Account status</label>
                    <span>active</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section" *ngIf="currentUser">
    <div class="section-annotation">
        <div>
            <h2 class="row bold">Accounts and permissions</h2>
        </div>
    </div>
    <div class="section-content">
        <div class="card pb20">
            <div class="row p20 pb0">
                <h3 class="bold">Account owners</h3>
            </div>
            <div class="row p20 pb0" *ngFor="let user of (users | boolean:'is_admin':true)">
                <div class="avatar" *ngIf="user">
                    {% verbatim %}{{ user.first_name[0] + user.last_name[0] }}{% endverbatim %}
                    <img *ngIf="user.avatar" src="{% verbatim %}{{ user.avatar }}{% endverbatim %}">
                </div>
                <div class="rows">
                    <a class="ref pl20 pt5" (click)="goProfile(user)">
                        {% verbatim %}{{ user.first_name + ' ' + user.last_name }}{% endverbatim %}
                    </a>
                    <div *ngIf="!user.is_active" class="pl20 pt5">Invitation Sent</div>
                    <div *ngIf="user.is_active" [ngSwitch]="user.visit_datetime" class="pl20 pt5">
                        <div *ngSwitchCase="null">No sessions found</div>
                        <div *ngSwitchDefault>{% verbatim %}{{setDate(user.visit_datetime) | date:'EEEE, MMMM d, y HH:mm Z'}}{% endverbatim %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section no-border" *ngIf="currentUser">
    <div class="section-annotation"> </div>
    <div class="section-content">
        <div class="card pb20">
            <div class="row p20 pb0">
                <h3 class="bold">Staff accounts</h3>
                <a *ngIf="currentUser.is_admin" class="ref ml-auto" (click)="deleteSessions()">Log out all staff accounts</a>
                <a *ngIf="currentUser.is_admin" class="ref ml20" (click)="goInvite()">Add staff account</a>
            </div>
            <div class="row p20 pb0" *ngFor="let user of (users | boolean:'is_admin':false)">
                <div class="avatar" *ngIf="user">
                    {% verbatim %}{{ user.first_name[0] + user.last_name[0] }}{% endverbatim %}
                    <img *ngIf="user.avatar" src="{% verbatim %}{{ user.avatar }}{% endverbatim %}">
                </div>
                <div class="rows">
                    <a class="ref pl20 pt5" (click)="goProfile(user)">
                        {% verbatim %}{{ user.first_name + ' ' + user.last_name }}{% endverbatim %}
                    </a>
                    <div *ngIf="!user.is_active" class="pl20 pt5">Invitation Sent</div>
                    <div *ngIf="user.is_active" [ngSwitch]="user.visit_datetime" class="pl20 pt5">
                        <div *ngSwitchCase="null">No sessions found</div>
                        <div *ngSwitchDefault>{% verbatim %}{{setDate(user.visit_datetime) | date:'EEEE, MMMM d, y HH:mm Z'}}{% endverbatim %}</div>
                    </div>
                </div>
                <div class="row tr" [ngSwitch]="user.permissions[0]">
                    <span *ngSwitchCase="'full'">Full access</span>
                    <span *ngSwitchDefault>Limited access</span>
                </div>
            </div>
        </div>
    </div>
</div>


<account_invite
    [parent]="this"
    [self]="'invite_user'">
</account_invite>
