<div *ngIf="parent" class="modal-form">
    <form class="input-form up" novalidate>{% csrf_token %}
        <div class="modal-header">
            <h2>
                Please confirm your password
            </h2>
            <a class="cross fa fa-times" aria-hidden="true" (click)="reject()"></a>
        </div>
        <div class="input-section">
             <div class="input-box">
                <label class="input">
                    Enter your current password to save changes to your account.
                    <input type="password" [(ngModel)]="fields[0]" name="admin_password">
                </label>
            </div>    
        </div>        
        <div class="input-section">
             <div class="input-box">
                <p>Changing your password will log you out of your store on all web browsers.</p>
                <div class="input">
                    <input type="checkbox" id="checkbox-id2" [(ngModel)]="fields[1]" name="log_out_mobile">
                    <label for="checkbox-id2"><i class="fa fa-check" aria-hidden="true"></i>Also log out of your store on Shopify Mobile and/or Shopify POS</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn mr10"
            (click)="confirmPassword=reject()">Cancel</a>
            <a class="btn btn-blue" (click)="resolve({password:fields[0], log_out_mobile:fields[1]})">Confirm</a>
        </div>
    </form>
</div>
