<div class="modal-form" *ngIf="parent">
    <form class="input-form up" novalidate>{% csrf_token %}
        <div class="modal-header">
            <h2>
                Remove user account for {% verbatim %}{{ parent.user.first_name + ' ' + parent.user.last_name }}{% endverbatim %}?
            </h2>
            <a class="cross fa fa-times" aria-hidden="true"(click)="reject(0)"></a>
        </div>
         <div class="input-section">
            <div class="input-box">
                <div>Are you sure you want to remove the user account for
                    <strong>
                        {% verbatim %}{{ parent.user.first_name + ' ' + parent.user.last_name }}{% endverbatim %}
                    </strong>? This action cannot be reversed.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn mr10" (click)="reject(2)">Cancel</a>
            <a class="btn btn-delete" (click)="resolve(1)">Delete</a>
        </div>
    </form>
</div>