<div *ngIf="parent" class="modal-form">
    <form class="input-form up">{% csrf_token %}
        <div class="modal-header">
            <h2>Expire Current User's Sessions </h2>
            <a class="cross fa fa-times" aria-hidden="true" (click)="reject()"></a>
        </div>
         <div class="row ph20 pv10">
            <span>Are you sure you want to force <strong>{% verbatim %}{{parent.user.full_name}}{% endverbatim %}</strong> to re-login?</span>
        </div>
        <div class="modal-footer">
            <a class="btn mr10" (click)="reject()">Cancel</a>
            <a class="btn btn-blue" (click)="resolve()">Yes</a>
        </div>
    </form>
</div>
