<modal-form [ngClass]="{hideInvite: !show}">
    <form class="input-form" [ngFormModel]="lform" novalidate>
        {% csrf_token %}
        <div class="modal-header">
            <h2>
                Add staff member
            </h2>
            <a class="cross fa fa-times" aria-hidden="true"
              (click)="show=false"></a>
        </div>
        <div  *ngIf="errors.length> 0" class="input-section">
            <div  class="input-box">
                <div class="error-list">
                    <i  class="fa fa-exclamation-circle" aria-hidden="true"> </i>
                    
                    <div>
                        <h2> There is {% verbatim %}{{ errors.length }}{% endverbatim %} errors</h2>
                        <ul>
                            <li *ngFor="let error of errors">
                                {% verbatim %}{{ error }}{% endverbatim %}
                            </li>                        
                        </ul>
                    </div>                
                </div>
            </div>    
        </div>
        
        <div class="input-section">
             <div class="input-box">   
                <label class="input" [ngClass]="{err: obj_errors['first_name']}">
                    First Name
                    <input [ngFormControl]="lform.controls['first_name']" (input)="boolInvite=true">
                </label>
            </div>    
            <div class="input-box">
                <label class="input" [ngClass]="{err: obj_errors['last_name']}">
                   Last Name
                    <input [ngFormControl]="lform.controls['last_name']" (input)="boolInvite=true"> 
                </label>
            </div>
        </div>
        <div class="input-section">
            <div class="input-box">    
                <label class="input" [ngClass]="{err: obj_errors['email']}">
                    Email
                    <input [ngFormControl]="lform.controls['email']" (input)="boolInvite=true">
                </label>        
            </div>    
        </div>
        
        <div class="modal-footer">
            <a class="btn mr10"
            (click)="show=false">Cancel</a>
            <a class="btn btn-blue" (click)="goInvite()" [ngClass]="{disabled: !boolInvite}">Send invite</a>
        </div>
    </form>
</modal-form>