<div *ngIf= "parent && show" class="modal-form">
    <form class="input-form" [formGroup]="form" novalidate>{% csrf_token %}
        <div class="modal-header">
            <h2>
                Add staff member
            </h2>
            <a class="cross fa fa-times" aria-hidden="true"
              (click)="show=false"></a>
        </div>
        {% include "admin/errorsbox.html" with class="input-section" %}

        <div class="input-section">
             <div class="input-box">
                <label class="input" [ngClass]="{err: obj_errors['first_name']}">
                    First Name
                    <input formControlName="first_name" (input)="formChange=true">
                </label>
            </div>    
            <div class="input-box">
                <label class="input" [ngClass]="{err: obj_errors['last_name']}">
                   Last Name
                    <input formControlName="last_name" (input)="formChange=true"> 
                </label>
            </div>
        </div>
        <div class="input-section">
            <div class="input-box">
                <label class="input" [ngClass]="{err: obj_errors['email']}">
                    Email
                    <input formControlName="email" (input)="formChange=true">
                </label>
            </div>
        </div>
        
        <div class="modal-footer">
            <a class="btn mr10"
            (click)="show=false">Cancel</a>
            <a class="btn btn-blue" (click)="goInvite();show=false;" [ngClass]="{disabled: !formChange}">Send invite</a>
        </div>
    </form>
</div>