<modal-form [ngClass]="{hideInvite: !show}">
    <form class="input-form" [ngFormModel]="lform" novalidate>
        {% csrf_token %}
        <div class="modal-header">
            <h2>
                Add staff member
            </h2>
            <a class="cross fa fa-times" aria-hidden="true"
              (click)="show=false"></a>
        </div>
        {% include "admin/errorsbox.html" with class="input-section" %}
        
        <div class="input-section">
             <div class="input-box">   
                <label class="input" [ngClass]="{err: obj_errors['first_name']}">
                    First Name
                    <input [ngFormControl]="lform.controls['first_name']" (input)="boolInvite=true">
                </label>
            </div>    
            <div class="input-box">
                <label class="input" [ngClass]="{err: obj_errors['last_name']}">
                   Last Name
                    <input [ngFormControl]="lform.controls['last_name']" (input)="boolInvite=true"> 
                </label>
            </div>
        </div>
        <div class="input-section">
            <div class="input-box">    
                <label class="input" [ngClass]="{err: obj_errors['email']}">
                    Email
                    <input [ngFormControl]="lform.controls['email']" (input)="boolInvite=true">
                </label>        
            </div>    
        </div>
        
        <div class="modal-footer">
            <a class="btn mr10"
            (click)="show=false">Cancel</a>
            <a class="btn btn-blue" (click)="goInvite()" [ngClass]="{disabled: !boolInvite}">Send invite</a>
        </div>
    </form>
</modal-form>