{% include "admin/errorsbox.html" with class="section-profile" %}
<div *ngIf="user" class="section-profile ">
    <div class="section-annotation">
        <h3>Account information</h3>
        <p>All information relevant to the account.</p>
    </div>
    <div *ngIf="!isAdmin && !isUser"class="section-content">
        <form>
            <div class="input-section">
                <div class="input-box">
                    <h3> <strong>Name</strong></h3>
                    <p class="p5"></p>
                    <h3>{% verbatim %}{{user.first_name + ' ' + user.last_name}}{% endverbatim %}</h3>
                    <p></p>
                    <h3> <strong>Email address</strong></h3>
                    <p class="p5"></p>
                    <h3>{% verbatim %}{{user.email}}{% endverbatim %}</h3>
                    <p></p>
                    <h3> <strong>Phone</strong></h3>
                    <p class="p5"></p>
                    <h3>{% verbatim %}{{user.phone}}{% endverbatim %}</h3>
                    <p></p>
                    <h3> <strong>Personal website address</strong></h3>
                    <p class="p5"></p>
                    <h3>{% verbatim %}{{user.www_site}}{% endverbatim %}</h3>
                    <p></p>
                    <h3> <strong>Bio</strong></h3>
                    <p class="p5"></p>
                    <h3>{% verbatim %}{{user.bio}}{% endverbatim %}</h3>
                    <p></p>
                </div>
            </div>
        </form>
    </div>
    
    <div *ngIf="isAdmin || isUser"class="section-content">
        <form>
        {% csrf_token %}
            <div class="input-section">
                <div class="input-box">
                    <div class="avatar" *ngIf="user">
                        {% verbatim %}{{ user.first_name[0] + user.last_name[0] }}{% endverbatim %}
                        <img *ngIf="user.avatar" src="{% verbatim %}{{ user.avatar }}{% endverbatim %}">
                        <img *ngIf="new_avatar"  src="{% verbatim %}{{ new_avatar }}{% endverbatim %}">
                    </div>
                </div>
            </div>
            <div class="input-section">
                <div class="input-box">
                    <strong>Profile photo</strong>
                    <p>Shown whenever you comment or perform an action within Shopify. </p>
                </div>
            </div>
            <div class="input-section">
                <div class="input-box row">
                     <div class="btn mr10">Upload photo
                        <input type="file"  accept="image/gif, image/jpeg, image/png" (change)="upLoadAvatar($event)">
                     </div>
                    
                     <a class="btn" 
                        [ngClass]="{disabled: !new_avatar && !user.avatar }" 
                        (click)="deleteAvatar()">
                        Delete photo
                    </a>
                </div>
            </div>
            <div class="input-section">
                <div class="input-box">                
                    <label class="input" [ngClass]="{err: obj_errors['first_name']}">
                        First Name
                        <input [ngFormControl]="lform.controls['first_name']"  (input)="onFormChange()">
                    </label>    
                </div>
                <div class="input-box">
                    <label class="input" [ngClass]="{err: obj_errors['last_name']}">
                        Last Name
                        <input [ngFormControl]="lform.controls['last_name']" (input)="onFormChange()">
                    </label>   
                </div>
            </div>
            <div class="input-section">
                <div class="input-box" *ngIf="!emailChange">
                    <p>Email address</p>
                    <span>{% verbatim %}{{ user.email }}{% endverbatim %} <a class="ref" (click)="emailChange=true">Change email</a></span>
                </div>    
                <div class="input-box" *ngIf="emailChange">
                    <label class="input" [ngClass]="{err: obj_errors['email']}">
                        Email address
                        <input [ngFormControl]="lform.controls['email']" (input)="onFormChange()">
                    </label>   
                </div>
                <div class="input-box">
                    <label class="input">
                        Phone (optional)
                        <input [ngFormControl]="lform.controls['phone']" (input)="onFormChange()">
                    </label>
                </div>   
            </div>
            <div class="input-section">
                <div class="input-box">
                    <label class="input">
                        Personal website address (optional)
                        <input [ngFormControl]="lform.controls['www_site']" (input)="onFormChange()">
                    </label>
                </div>   
            </div>
            <div class="input-section">
                <div class="input-box">
                    <label class="input">
                        Bio (optional)
                        <textarea [ngFormControl]="lform.controls['bio']" (input)="onFormChange()"></textarea>
                    </label>
                </div>   
            </div>
            <div class="input-section" *ngIf="!passwordChange">
                <div class="input-box">
                    <a class="ref" (click)="passwordChange=true">Change password</a>
                </div>   
            </div>
            <div class="input-section"  *ngIf="passwordChange">
                <div class="input-box">                
                    <label class="input" [ngClass]="{err: obj_errors['password1']}">
                        New password
                        <input type="password" [ngFormControl]="lform.controls['password1']"  (input)="onFormChange()">
                    </label>    
                </div>
                <div class="input-box">
                    <label class="input" [ngClass]="{err: obj_errors['password2']}">
                        Confirm new password
                        <input type="password" [ngFormControl]="lform.controls['password2']" (input)="onFormChange()">
                    </label>   
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isAdmin || isUser" class="separator"></div>

<div *ngIf="user && isAdmin" class="section-profile">
    <div class="section-annotation">
        <h3>Recent login history</h3>
        <p>Access from an ISP, Location, or IP address you don't recognize may indicate that the account has been compromised and should be reviewed further.</p>
        <p><a class="btn" (click)="expireSessions=true"> Expire user's sessions </a></p>
   
    </div>
    
     <div class="section-content">
        <div class="card">
            <div class="section">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>IP</th>
                                <th>ISP</th>
                                <th>Location</th>
                                <th></th>
                            </tr>
                        </thead> 
                        <tbody *ngIf="sessions">
                            <tr  class="wide" *ngFor="let session of sessions">
                                 <td>
                                    {% verbatim %}{{ setDate(session.visit_datetime) | date:'EEEE at jm' }}{% endverbatim %}
                                </td>
                                <td>
                                    {% verbatim %}{{ session.ip }}{% endverbatim %} 
                                </td>
                                <td>
                                    {% verbatim %}{{ session.isp }}{% endverbatim %}
                                </td>
                                <td>
                                    {% verbatim %}{{ session.city + ', ' + session.country }}{% endverbatim %}
                                </td>
                                
                                <td>
                                    <a class="btn fa fa-info-circle" aria-hidden="true" title="Firefox 46 on ubuntu">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
    </div>
</div>

<div *ngIf="isAdmin" class="separator"></div>

<div *ngIf="user && isAdmin" class="section-profile ">
    <div class="section-annotation">
        <h3>Admin Access</h3>
        <p>Select the sections that Ivan should have access to.</p>
    </div>
    
    <div class="section-content">
        <form>
            <div class="input-section">
                <div class="input-box">
                    <div class="input">
                        <input type="checkbox" id="checkbox-id"
                        (change)="onFormChange()">
                        <label for="checkbox-id"><i class="fa fa-check" aria-hidden="true"></i>Limit admin access for {% verbatim %}{{user.first_name + ' ' + user.last_name}}{% endverbatim %}</label>
                    </div>
                </div>    
            </div>
        </form>
    </div>
</div>

<div *ngIf="isAdmin" class="separator"></div>

<div *ngIf="isAdmin || isUser" class="section-profile ">
    <div class="input-box row end">
            <a class="btn btn-blue"
            [ngClass]="{disabled : !formChange}"
            (click)="onSave()"> Save</a>
    </div> 
</div>

<modal-form *ngIf="confirmPassword">
    <form class="input-form up" [ngFormModel]="lform" novalidate>
        {% csrf_token %}
        <div class="modal-header">
            <h2>
                Please confirm your password
            </h2>
            <a class="cross fa fa-times" aria-hidden="true"
              (click)="confirmPassword=false"></a>
        </div>
        <div class="input-section">
             <div class="input-box">
                <label class="input">
                    Enter your current password to save changes to {% verbatim %}{{ user.first_name }}{% endverbatim %}'s account.
                    <input type="password" [ngFormControl]="lform.controls['admin_password']">
                </label>
            </div>    
        </div>        
        <div class="input-section" *ngIf="passwordChange">
             <div class="input-box">
                <p>Changing {% verbatim %}{{ user.first_name }}{% endverbatim %}'s password will log {% verbatim %}{{ user.first_name }}{% endverbatim %} out of your store on all web browsers.</p>
                <div class="input">
                    <input type="checkbox" id="checkbox-id2">
                    <label for="checkbox-id2"><i class="fa fa-check" aria-hidden="true"></i>Also log {% verbatim %}{{ user.first_name }}{% endverbatim %} out of your store on Shopifier</label>
                </div>
            </div>    
        </div>        
        <div class="modal-footer">
            <a class="btn mr10"
            (click)="confirmPassword=false">Cancel</a>
            <a class="btn btn-blue" (click)="onSaveAdmin()">Confirm</a>
        </div>
    </form>
</modal-form>


<modal-form *ngIf="expireSessions">
    <form class="input-form up">
        <div class="modal-header">
            <h2>
                Expire Current User's Sessions
            </h2>
            <a class="cross fa fa-times" aria-hidden="true"
              (click)="expireSessions=false"></a>
        </div>
         <div class="input-section">
            <div class="input-box">
                <div>Are you sure you want to force <strong>{% verbatim %}{{ user.first_name + ' ' + user.last_name  }}{% endverbatim %}</strong> to re-login?</div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn mr10"
            (click)="expireSessions=false">Cancel</a>
            <a class="btn btn-blue" (click)="deleteSessions(); expireSessions=false;">Yes</a>
        </div>
    </form>
</modal-form>

<modal-form *ngIf="showSetAdmin">
    <form *ngIf="!user.is_admin" class="input-form up">
        <div class="modal-header">
            <h2>
                Confirm Account Ownership Granting
            </h2>
            
            <a class="cross fa fa-times" aria-hidden="true"
              (click)="showSetAdmin=false"></a>
        </div>
         
         <div class="input-section">
            <div class="input-box">
                You are granting ownership of your store from another user:
            </div>
        </div>
        
         <div class="input-section">
            <div class="input-box">
                <div class="input-box">
                    <ul class="input-box"> 
                        <li type="disc">They will have complete control of the shop, including billing.</li>
                        <li type="disc">Your account will be admin account.</li>
                        <li type="disc">This action can be undone.</li>
                    </ul>
                </div>    
            </div>
        </div>
        <div class="input-section">
            <div class="input-box">
               Are you sure you want to granting ownership of your store to {% verbatim %}{{ user.first_name + ' ' + user.last_name  }}{% endverbatim %} ?
            </div>
        </div>
        
        <div class="modal-footer">
            <a class="btn mr10"
            (click)="showSetAdmin=false">Cancel</a>
            <a class="btn btn-blue" (click)="addOwnership(); showSetAdmin=false;">Yes, granting ownership</a>
        </div>
    </form>
    
    <form *ngIf="user.is_admin" class="input-form up">
        <div class="modal-header">
            <h2>
                Confirm Account Ownership taking away
            </h2>
            
            <a class="cross fa fa-times" aria-hidden="true"
              (click)="showSetAdmin=false"></a>
        </div>
         
         <div class="input-section">
            <div class="input-box">
                You are taking away ownership of your store to another user:
            </div>            
        </div>
        
         <div class="input-section">
            <div class="input-box">
                <div class="input-box">
                    <ul class="input-box"> 
                        <li type="disc">They will not have complete control of the shop, including billing.</li>
                        <li type="disc">Your account will be admin account.</li>
                        <li type="disc">This action can be undone.</li>
                    </ul>
                </div>    
            </div>            
        </div>
        <div class="input-section">
            <div class="input-box">
               Are you sure you want to taking away ownership of your store to {% verbatim %}{{ user.first_name + ' ' + user.last_name  }}{% endverbatim %} ?
            </div>
        </div>
        
        <div class="modal-footer">
            <a class="btn mr10"
            (click)="showSetAdmin=false">Cancel</a>
            <a class="btn btn-blue" (click)="addOwnership(); showSetAdmin=false;">Yes, taking away ownership</a>
        </div>
    </form>
</modal-form>

 <leave-page 
    [parrent_component]="self">
</leave-page>
