<div *ngIf="errors.length> 0" class="section-profile ">
    <div  class="input-box">
        <div class="error-list">
            <i  class="fa fa-exclamation-circle" aria-hidden="true"> </i>
            <div>
                <h2> There is {% verbatim %}{{ errors.length }}{% endverbatim %} errors</h2>
                <ul>
                    <li *ngFor="let error of errors">
                        {% verbatim %}{{ error }}{% endverbatim %}
                    </li>                        
                </ul>
            </div>                
        </div>
    </div>    
</div>
    
<div *ngIf="user" class="section-profile ">      
    <div class="section-annotation">
        <h3>Account information</h3>
        <p>All information relevant to the account.</p>
    </div>
    
    <div class="section-content">
        <form>
        {% csrf_token %}
            <div class="input-section">
                <div class="input-box">
                    <div class="avatar" *ngIf="user">
                        {% verbatim %}{{ user.first_name[0] + user.last_name[0] }}{% endverbatim %}
                        <img *ngIf="user.avatar" src="{% verbatim %}{{ user.avatar }}{% endverbatim %}">
                        <img *ngIf="new_avatar"  src="{% verbatim %}{{ new_avatar }}{% endverbatim %}">
                    </div>
                </div>
            </div>
            <div class="input-section">
                <div class="input-box">
                    <strong>Profile photo</strong>
                    <p>Shown whenever you comment or perform an action within Shopify. </p>
                </div>
            </div>
            <div class="input-section">
                <div class="input-box row">
                     <div class="btn mr10">Upload photo
                        <input type="file"  accept="image/gif, image/jpeg, image/png" (change)="upLoadAvatar($event)">
                     </div>
                    
                     <a class="btn" 
                        [ngClass]="{disabled: !new_avatar && !user.avatar }" 
                        (click)="deleteAvatar()">
                        Delete photo
                    </a>
                </div>
            </div>
            <div class="input-section">
                <div class="input-box">                
                    <label class="input" [ngClass]="{err: obj_errors['first_name']}">
                        First Name
                        <input [ngFormControl]="lform.controls['first_name']"  (input)="formChange=true">
                    </label>    
                </div>
                <div class="input-box">
                    <label class="input" [ngClass]="{err: obj_errors['last_name']}">
                        Last Name
                        <input [ngFormControl]="lform.controls['last_name']" (input)="formChange=true">
                    </label>   
                </div>
            </div>
            <div class="input-section">
                <div class="input-box" *ngIf="!emailChange">
                    <p>Email address</p>
                    <span>{% verbatim %}{{ user.email }}{% endverbatim %} <a class="ref" (click)="emailChange=true">Change email</a></span>
                </div>    
                <div class="input-box" *ngIf="emailChange">
                    <label class="input" [ngClass]="{err: obj_errors['email']}">
                        Email address
                        <input [ngFormControl]="lform.controls['email']" (input)="formChange=true">
                    </label>   
                </div>
                <div class="input-box">
                    <label class="input">
                        Phone (optional)
                        <input [ngFormControl]="lform.controls['phone']" (input)="formChange=true">
                    </label>
                </div>   
            </div>
            <div class="input-section">
                <div class="input-box">
                    <label class="input">
                        Personal website address (optional)
                        <input [ngFormControl]="lform.controls['www_site']" (input)="formChange=true">
                    </label>
                </div>   
            </div>
            <div class="input-section">
                <div class="input-box">
                    <label class="input">
                        Bio (optional)
                        <textarea [ngFormControl]="lform.controls['bio']" (input)="formChange=true"></textarea>
                    </label>
                </div>   
            </div>
            <div class="input-section" *ngIf="!passwordChange">
                <div class="input-box">
                    <a class="ref" (click)="passwordChange=true" >Change password</a>
                </div>   
            </div>
            <div class="input-section"  *ngIf="passwordChange">
                <div class="input-box">                
                    <label class="input" [ngClass]="{err: obj_errors['password1']}">
                        New password
                        <input type="password" [ngFormControl]="lform.controls['password1']"  (input)="formChange=true">
                    </label>    
                </div>
                <div class="input-box">
                    <label class="input" [ngClass]="{err: obj_errors['password2']}">
                        Confirm new password
                        <input type="password" [ngFormControl]="lform.controls['password2']" (input)="formChange=true">
                    </label>   
                </div>
            </div>
        </form>
    </div>
</div>

<div class="separator"></div>

<div *ngIf="user" class="section-profile ">    
    <div class="section-annotation">
        <h3>Recent login history</h3>
        <p>Access from an ISP, Location, or IP address you don't recognize may indicate that the account has been compromised and should be reviewed further.</p>
        <p><a class="btn"> Expire user's sessions </a></p>
   
    </div>
    
     <div class="section-content">
        <div class="card">
            <div class="section">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>IP</th>
                                <th>ISP</th>
                                <th>Location</th>
                                <th></th>
                            </tr>
                        </thead> 
                        <tbody *ngIf="sessions">
                            <tr  class="wide" *ngFor="let session of sessions">
                                 <td>
                                    {% verbatim %}{{ setDate(session.visit_datetime) | date:'EEEE at jm' }}{% endverbatim %}     
                                </td>
                                <td>
                                    {% verbatim %}{{ session.ip }}{% endverbatim %} 
                                </td>
                                <td >
                                    {% verbatim %}{{ session.isp }}{% endverbatim %}
                                </td>
                                <td>
                                    {% verbatim %}{{ session.city + ', ' + session.country }}{% endverbatim %}
                                </td>
                                
                                <td>
                                    <a class="btn fa fa-info-circle" aria-hidden="true" title="Firefox 46 on ubuntu">
                                    </a>
                                </td>
                            </tr>                            
                        </tbody>                       
                    </table>
                </div>
            </div>
        </div>    
    </div>
</div>
<div class="separator"></div>
<div *ngIf="user" class="section-profile ">
    <div class="section-annotation">
        <h3>Admin Access</h3>
        <p>Select the sections that Ivan should have access to.</p>
    </div>
    
    <div class="section-content">
        <form>
            <div class="input-section">
                <div class="input-box">
                    <div class="input">
                        <input type="checkbox" id="checkbox-id">
                        <label for="checkbox-id"><i class="fa fa-check" aria-hidden="true"></i>Limit admin access for Ivan Tuleev</label>
                    </div>
                </div>    
            </div>
        </form>
    </div>
</div>
<div class="separator"></div>
<div class="section-profile ">  
    <div class="input-box row end">
          
            <a class="btn btn-blue"
            [ngClass]="{disabled : !formChange}"
            (click)="onSave()"> Save</a>
       
    </div> 
</div>
