{% include "admin/errorsbox.html" with class="section-profile" %}
<div *ngIf="user" class="section-profile ">
    <div class="section-annotation">
        <h3 class="bold">Account information</h3>
    </div>
    <div *ngIf="!isAdmin && !isUser"class="section-content">
        <form>
            <div class="input-section">
                <div class="input-box">
                    <h3> <strong>Name</strong></h3>
                    <p class="p5"></p>
                    <h3>{% verbatim %}[[ user.full_name]]{% endverbatim %}</h3>
                    <p></p>
                    <h3> <strong>Email address</strong></h3>
                    <p class="p5"></p>
                    <h3>{% verbatim %}[[ user.email]]{% endverbatim %}</h3>
                    <p></p>
                    <h3> <strong>Phone</strong></h3>
                    <p class="p5"></p>
                    <h3>{% verbatim %}[[ user.phone]]{% endverbatim %}</h3>
                    <p></p>
                    <h3> <strong>Personal website address</strong></h3>
                    <p class="p5"></p>
                    <h3>{% verbatim %}[[ user.www_site]]{% endverbatim %}</h3>
                    <p></p>
                    <h3> <strong>Bio</strong></h3>
                    <p class="p5"></p>
                    <h3>{% verbatim %}[[ user.bio]]{% endverbatim %}</h3>
                    <p></p>
                </div>
            </div>
        </form>
    </div>
    
    <div *ngIf="isAdmin || isUser" class="section-content">
        <form [formGroup]="form.user">{% csrf_token %}
            {% with group='user' change='onFormChange()' %}
            <div class="input-section">
                <h3 class="bold ml10" [ngSwitch]="user.is_admin">
                    <span *ngSwitchCase="true">Account owner profile</span>
                    <span *ngSwitchDefault>Staff profile</span>
                </h3>
            </div>
            <div class="input-section">
                <div class="input-box">
                    <div class="avatar" *ngIf="user">
                        {% verbatim %}[[  user.first_name[0] + user.last_name[0] ]]{% endverbatim %}
                        <img *ngIf="user.avatar" [attr.src]="user.avatar">
                        <img *ngIf="new_avatar" [attr.src]="new_avatar">
                    </div>
                </div>
            </div>
            <div class="input-section">
                <div class="input-box">
                    <strong>Profile photo</strong>
                    <p>Shown whenever you comment or perform an action within Shopify. </p>
                </div>
            </div>
            <div class="input-section">
                <div class="input-box row">
                     <div class="btn mr10">Upload photo
                        <input type="file" accept="image/gif, image/jpeg, image/png" (change)="upLoadAvatar($event)">
                     </div>
                    
                     <a class="btn" 
                        [ngClass]="{disabled: !new_avatar && !user.avatar }" 
                        (click)="deleteAvatar()">
                        Delete photo
                    </a>
                </div>
            </div>
            <div class="input-section">
                <div class="input-box">
                    <label class="input" [ngClass]="{err: obj_errors['first_name']}">
                        First Name
                        <input formControlName="first_name" (input)="onFormChange()">
                    </label>
                </div>
                <div class="input-box">
                    <label class="input" [ngClass]="{err: obj_errors['last_name']}">
                        Last Name
                        <input formControlName="last_name" (input)="onFormChange()">
                    </label>   
                </div>
            </div>
            <div class="input-section">
                <div class="input-box" *ngIf="!emailChange">
                    <p>Email address</p>
                    <span>{% verbatim %}[[  user.email ]] {% endverbatim %}<a class="ref" (click)="emailChange=true">Change email</a></span>
                </div>    
                <div class="input-box" *ngIf="emailChange">
                    <label class="input" [ngClass]="{err: obj_errors['email']}">
                        Email address
                        <input formControlName="email" (input)="onFormChange()">
                    </label>   
                </div>
                <div class="input-box">
                    <label class="input">
                        Phone (optional)
                        <input formControlName="phone" (input)="onFormChange()">
                    </label>
                </div>   
            </div>
            <div class="row sep mt20 mb10"></div><h3 class="row bold pv10 ph20">DETAILS</h3>
            <div class="input-section">
                <div class="input-box">
                    <label class="input">
                        Bio (optional)
                        <textarea formControlName="bio" (input)="onFormChange()"></textarea>
                    </label>
                </div>   
            </div>
            <div class="input-section">
                <div class="input-box">
                    <label class="input">
                        Personal website address (optional)
                        <input formControlName="www_site" (input)="onFormChange()">
                    </label>
                </div>   
            </div>
            <div class="row sep mt20 mb10"></div><h3 class="row bold pv10 ph20">NOTIFICATIONS</h3>
            <div class="input-section">
                {% include "admin/checkbox.html" with control="receive_announcements" %}
            </div>
            <p class="ml25 pl20 mb10 color-subdued">We periodically send out important news about Shopify to our users via email. We keep the email volume to an absolute minimum.</p>

            <span *ngIf="isUser" class="mb10">
                <div class="row sep mt20 mb10"></div><h3 class="row bold pv10 ph20">PASSWORD RESET</h3>
                <div class="row pv10 ph20">
                    Change the password you use to login to [[ settings.STORE_NAME ]].
                </div>
                <div class="input-section" *ngIf="!passwordChange">
                    <div class="row ml10">
                        <a class="btn" (click)="passwordChange=true">Change password</a>
                    </div>   
                </div>
                <div class="input-section" *ngIf="passwordChange">
                    <div class="input-box">
                        <label class="input" [ngClass]="{err: obj_errors['password1']}">
                            New password
                            <input type="password" formControlName="password1" (input)="onFormChange()">
                        </label>
                    </div>
                    <div class="input-box">
                        <label class="input" [ngClass]="{err: obj_errors['password2']}">
                            Confirm new password
                            <input type="password" formControlName="password2" (input)="onFormChange()">
                        </label>
                    </div>
                </div>
            </span>
            {% endwith %}
        </form>
    </div>
</div>

<span *ngIf="user && isAdmin && sessions.length">
    <div class="separator"></div>
    <div class="section-profile">
        <div class="section-annotation">
            <h3>Recent login history</h3>
            <p>Access from an ISP, Location, or IP address you don’t recognize may indicate that the account has been compromised and should be reviewed further.</p>
        </div>
         <div class="section-content">
            <div class="card">
                <div class="section">
                    <div class="table">
                        <table>
                            <thead>
                                <tr><th>Date</th><th>IP</th><th>ISP</th><th>Location</th><th></th>
                                </tr>
                            </thead>
                            {% verbatim %}
                            <tbody *ngIf="sessions">
                                <tr  class="wide" *ngFor="let session of sessions">
                                     <td>[[  setDate(session.visit_datetime) | date:'EEEE' ]] at [[  setDate(session.visit_datetime) | date:'shortTime' ]]</td>
                                    <td>[[  session.ip ]]</td>
                                    <td>[[  session.isp ]]</td>
                                    <td>[[  session.city + ', ' + session.country ]]</td>
                                    <td><a class="btn fa fa-info-circle" aria-hidden="true" [attr.title]="session.user_agent"></a></td>
                                </tr>
                            </tbody>
                            {% endverbatim %}
                        </table>
                    </div>
                </div>
                <div class="input-section">
                    <div class="row ml10 mb10">
                        <a class="btn" (click)="expireSessions()">Log Out {% verbatim %}[[ user.full_name]]{% endverbatim %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</span>

<span  *ngIf="user && !user.is_admin && isAdmin">
    <div class="separator"></div>
    <div class="section-profile">
        <div class="section-annotation">
            <h3 class="bold">Admin Access</h3>
        </div>
        
        <div class="section-content">
            <form class="p10">{% csrf_token %}
                <h3 class="p10 bold">CUSTOMIZE PERMISSIONS</h3>
                <div class="p10">Enable or restrict {% verbatim %}[[ user.first_name]]{% endverbatim %}'s access to various parts of this store.</div>
                <div class="input p10">
                    <input type="checkbox" [attr.id]="full_permissions-id" [(ngModel)]="full_permissions" [ngModelOptions]="{standalone: true}"
                    (click)="onFormChange();clsPermissions();">
                    <label [attr.for]="full_permissions-id"><i class="fa fa-check" aria-hidden="true"></i>{% verbatim %}[[ user.full_name]]{% endverbatim %} has full permissions</label>
                </div>
                <div *ngIf="!full_permissions" class="p10">
                    <div class="pv10 bold">Select the areas of admin this staff account will be able to access</div>
                    <div class="columns mv10 h-auto">
                        <div class="col mr30" *ngFor="let group of permissions;">
                            [[ group.group ]]
                            <div class="input mt15" *ngFor="let perm of group.permissions;">
                                <input type="checkbox" [attr.id]="perm.api+'-id'" [(ngModel)]="perm.select" [ngModelOptions]="{standalone: true}"
                                (click)="onFormChange()">
                                <label [attr.for]="perm.api+'-id'"><i class="fa fa-check" aria-hidden="true"></i>{% verbatim %}[[ perm.name]]{% endverbatim %}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</span>

<span *ngIf="user && isAdmin && !isUser">
    <div class="separator"></div>
    <div class="section-profile ">
        <div class="section-annotation">
            <h3 class="bold">Remove account</h3>
        </div>
        
        <div class="section-content">
            <form class="p10">{% csrf_token %}
                <h3 class="p10 bold">Delete account</h3>
                <div class="p10">Deleted staff accounts will be permanently removed from your store. This action cannot be reversed.</div>
                <div class="row m10">
                    <a class="btn btn-red" (click)="deleteAccount()">Delete account</a>
                </div>
            </form>
        </div>
    </div>
</span>


<div *ngIf="isAdmin" class="separator"></div>

<div *ngIf="isAdmin || isUser" class="section-profile ">
    <div class="input-box row end">
            <a class="btn btn-blue"
            [ngClass]="{disabled : !formChange}"
            (click)="onSave()"> Save</a>
    </div> 
</div>

 <leave-page 
    [parrent_component]="self">
</leave-page>
